/*
Colors
*/
/* line 15, part4_project/static/scss/_colors.scss */
.text-yellow {
  color: #f2ba4b; }

/* line 16, part4_project/static/scss/_colors.scss */
.text-orange {
  color: #e98839; }

/* line 17, part4_project/static/scss/_colors.scss */
.text-red {
  color: #eb5c59; }

/* line 18, part4_project/static/scss/_colors.scss */
.text-green {
  color: #78b857; }

/* line 19, part4_project/static/scss/_colors.scss */
.text-blue {
  color: #2e79f6; }

/* line 20, part4_project/static/scss/_colors.scss */
.text-light {
  color: #e9e9eb; }

/* line 21, part4_project/static/scss/_colors.scss */
.text-grey {
  color: #898989; }

/* line 22, part4_project/static/scss/_colors.scss */
.text-dark {
  color: #323235; }

/* line 24, part4_project/static/scss/_colors.scss */
.text-yellow:hover {
  color: #f2ba4b !important; }

/* line 25, part4_project/static/scss/_colors.scss */
.text-orange:hover {
  color: #e98839 !important; }

/* line 26, part4_project/static/scss/_colors.scss */
.text-red:hover {
  color: #eb5c59 !important; }

/* line 27, part4_project/static/scss/_colors.scss */
.text-green:hover {
  color: #78b857 !important; }

/* line 28, part4_project/static/scss/_colors.scss */
.text-blue:hover {
  color: #2e79f6 !important; }

/* line 29, part4_project/static/scss/_colors.scss */
.text-light:hover {
  color: #e9e9eb !important; }

/* line 30, part4_project/static/scss/_colors.scss */
.text-grey:hover {
  color: #898989 !important; }

/* line 31, part4_project/static/scss/_colors.scss */
.text-dark:hover {
  color: #323235 !important; }

/* line 33, part4_project/static/scss/_colors.scss */
.bg-yellow {
  background-color: #f2ba4b !important; }

/* line 34, part4_project/static/scss/_colors.scss */
.bg-orange {
  background-color: #e98839 !important; }

/* line 35, part4_project/static/scss/_colors.scss */
.bg-red {
  background-color: #eb5c59 !important; }

/* line 36, part4_project/static/scss/_colors.scss */
.bg-green {
  background-color: #78b857 !important; }

/* line 37, part4_project/static/scss/_colors.scss */
.bg-blue {
  background-color: #2e79f6 !important; }

/* line 38, part4_project/static/scss/_colors.scss */
.bg-light {
  background-color: #e9e9eb !important; }

/* line 39, part4_project/static/scss/_colors.scss */
.bg-grey {
  background-color: #898989 !important; }

/* line 40, part4_project/static/scss/_colors.scss */
.bg-dark {
  background-color: #323235 !important; }

/* line 2, part4_project/static/scss/_dark.scss */
.dark-theme {
  background-color: #323235; }
  /* line 4, part4_project/static/scss/_dark.scss */
  .dark-theme #toggle-theme {
    color: #323235;
    background-color: #e9e9eb;
    border: 1px solid #e98839; }
  /* line 10, part4_project/static/scss/_dark.scss */
  .dark-theme #search_main #button-search {
    background-color: #2e79f6;
    color: #e9e9eb; }
  /* line 15, part4_project/static/scss/_dark.scss */
  .dark-theme .filter_search {
    position: relative; }
    /* line 17, part4_project/static/scss/_dark.scss */
    .dark-theme .filter_search #filter_search, .dark-theme .filter_search #filter_search_clear {
      background-color: #fdfdfd; }
  /* line 21, part4_project/static/scss/_dark.scss */
  .dark-theme .btn {
    color: #e9e9eb; }
    /* line 23, part4_project/static/scss/_dark.scss */
    .dark-theme .btn:hover, .dark-theme .btn:focus {
      box-shadow: 0 0 5px 1px #e98839;
      color: #e9e9eb !important; }
  /* line 29, part4_project/static/scss/_dark.scss */
  .dark-theme .form-control:hover, .dark-theme .form-control:focus {
    box-shadow: 0 0 5px 1px #e98839; }
  /* line 33, part4_project/static/scss/_dark.scss */
  .dark-theme footer {
    color: #e9e9eb; }
  /* line 37, part4_project/static/scss/_dark.scss */
  .dark-theme .navbar {
    background-color: #262629;
    color: #e9e9eb; }
    /* line 40, part4_project/static/scss/_dark.scss */
    .dark-theme .navbar .navbar-brand {
      background-image: url("https://upload.part4.info/images/dark_logo_part4.png"); }
    /* line 43, part4_project/static/scss/_dark.scss */
    .dark-theme .navbar a {
      color: #e9e9eb; }
      /* line 45, part4_project/static/scss/_dark.scss */
      .dark-theme .navbar a.active {
        color: #e98839; }
      /* line 48, part4_project/static/scss/_dark.scss */
      .dark-theme .navbar a:hover, .dark-theme .navbar a:focus {
        color: #f2ba4b; }
  /* line 53, part4_project/static/scss/_dark.scss */
  .dark-theme .nav-breadcrumb {
    background: #323235; }
    /* line 57, part4_project/static/scss/_dark.scss */
    .dark-theme .nav-breadcrumb ul li:after {
      border-color: #2e79f6; }
    /* line 60, part4_project/static/scss/_dark.scss */
    .dark-theme .nav-breadcrumb ul li a {
      color: #e9e9eb;
      background: #323235; }
      /* line 63, part4_project/static/scss/_dark.scss */
      .dark-theme .nav-breadcrumb ul li a:hover, .dark-theme .nav-breadcrumb ul li a:focus {
        color: #f2ba4b; }
    /* line 67, part4_project/static/scss/_dark.scss */
    .dark-theme .nav-breadcrumb ul li.active {
      color: #e98839; }
  /* line 73, part4_project/static/scss/_dark.scss */
  .dark-theme .filter {
    color: #e9e9eb; }
    /* line 75, part4_project/static/scss/_dark.scss */
    .dark-theme .filter .title {
      color: #e9e9eb; }
    /* line 78, part4_project/static/scss/_dark.scss */
    .dark-theme .filter .filter_settings {
      background-color: #3f3f45;
      box-shadow: 0 0 5px 1px #3f3f45; }
      /* line 84, part4_project/static/scss/_dark.scss */
      .dark-theme .filter .filter_settings .form-check.checkbox input:before {
        border-color: #898989; }
      /* line 87, part4_project/static/scss/_dark.scss */
      .dark-theme .filter .filter_settings .form-check.checkbox input:checked:before {
        background-color: #e98839; }
      /* line 94, part4_project/static/scss/_dark.scss */
      .dark-theme .filter .filter_settings .btn-filter:hover {
        box-shadow: 0 0 5px 1px #e98839; }
  /* line 100, part4_project/static/scss/_dark.scss */
  .dark-theme .card {
    background-color: #fdfdfd;
    color: #e9e9eb;
    box-shadow: 0 0 5px 1px #898989; }
    /* line 104, part4_project/static/scss/_dark.scss */
    .dark-theme .card .card_image {
      background-color: #fdfdfd;
      box-shadow: 0 0 5px 1px #898989; }
    /* line 109, part4_project/static/scss/_dark.scss */
    .dark-theme .card.card-model-list .brand_model_title {
      color: #323235; }
    /* line 113, part4_project/static/scss/_dark.scss */
    .dark-theme .card.card-model {
      background-color: #3f3f45; }
      /* line 115, part4_project/static/scss/_dark.scss */
      .dark-theme .card.card-model .model-title {
        color: #e9e9eb; }
      /* line 118, part4_project/static/scss/_dark.scss */
      .dark-theme .card.card-model .partcode {
        color: #f2ba4b; }
    /* line 122, part4_project/static/scss/_dark.scss */
    .dark-theme .card.card-detail {
      background-color: #3f3f45; }
      /* line 124, part4_project/static/scss/_dark.scss */
      .dark-theme .card.card-detail .brand_model_title {
        color: #e9e9eb; }
    /* line 128, part4_project/static/scss/_dark.scss */
    .dark-theme .card .nav-tabs {
      border-color: #262629; }
      /* line 130, part4_project/static/scss/_dark.scss */
      .dark-theme .card .nav-tabs .nav-link {
        color: #e9e9eb; }
        /* line 132, part4_project/static/scss/_dark.scss */
        .dark-theme .card .nav-tabs .nav-link:hover {
          color: #f2ba4b; }
        /* line 135, part4_project/static/scss/_dark.scss */
        .dark-theme .card .nav-tabs .nav-link.active {
          color: #e9e9eb;
          background-color: #2e79f6; }
    /* line 141, part4_project/static/scss/_dark.scss */
    .dark-theme .card .table {
      color: #e9e9eb;
      border-color: #262629; }
      /* line 145, part4_project/static/scss/_dark.scss */
      .dark-theme .card .table thead th {
        border-color: #262629;
        color: #e98839;
        background-color: #323235; }
      /* line 151, part4_project/static/scss/_dark.scss */
      .dark-theme .card .table td {
        border-color: #262629; }
    /* line 156, part4_project/static/scss/_dark.scss */
    .dark-theme .card #parts .part-name {
      color: #78b857; }
    /* line 159, part4_project/static/scss/_dark.scss */
    .dark-theme .card #parts .part-name {
      color: #78b857; }
    /* line 163, part4_project/static/scss/_dark.scss */
    .dark-theme .card #parts .module-name:hover {
      color: #f2ba4b; }
    /* line 166, part4_project/static/scss/_dark.scss */
    .dark-theme .card #parts .module-name.active {
      color: #e98839; }
  /* line 172, part4_project/static/scss/_dark.scss */
  .dark-theme .error-list {
    background-color: #3f3f45; }
    /* line 174, part4_project/static/scss/_dark.scss */
    .dark-theme .error-list .errorcode {
      font-weight: bold;
      color: #eb5c59; }
    /* line 178, part4_project/static/scss/_dark.scss */
    .dark-theme .error-list .display {
      font-weight: bold;
      color: #e98839; }
    /* line 182, part4_project/static/scss/_dark.scss */
    .dark-theme .error-list .description {
      font-weight: bold;
      color: #f2ba4b; }
    /* line 186, part4_project/static/scss/_dark.scss */
    .dark-theme .error-list .causes {
      font-weight: bold;
      color: #2e79f6; }
    /* line 190, part4_project/static/scss/_dark.scss */
    .dark-theme .error-list .remedy {
      font-weight: bold;
      color: #78b857; }
  /* line 196, part4_project/static/scss/_dark.scss */
  .dark-theme .module-title:hover {
    color: #f2ba4b; }
  /* line 200, part4_project/static/scss/_dark.scss */
  .dark-theme .selected-module {
    font-weight: bold;
    color: #e98839; }

/*
Colors
*/
/* line 15, part4_project/static/scss/_colors.scss */
.text-yellow {
  color: #f2ba4b; }

/* line 16, part4_project/static/scss/_colors.scss */
.text-orange {
  color: #e98839; }

/* line 17, part4_project/static/scss/_colors.scss */
.text-red {
  color: #eb5c59; }

/* line 18, part4_project/static/scss/_colors.scss */
.text-green {
  color: #78b857; }

/* line 19, part4_project/static/scss/_colors.scss */
.text-blue {
  color: #2e79f6; }

/* line 20, part4_project/static/scss/_colors.scss */
.text-light {
  color: #e9e9eb; }

/* line 21, part4_project/static/scss/_colors.scss */
.text-grey {
  color: #898989; }

/* line 22, part4_project/static/scss/_colors.scss */
.text-dark {
  color: #323235; }

/* line 24, part4_project/static/scss/_colors.scss */
.text-yellow:hover {
  color: #f2ba4b !important; }

/* line 25, part4_project/static/scss/_colors.scss */
.text-orange:hover {
  color: #e98839 !important; }

/* line 26, part4_project/static/scss/_colors.scss */
.text-red:hover {
  color: #eb5c59 !important; }

/* line 27, part4_project/static/scss/_colors.scss */
.text-green:hover {
  color: #78b857 !important; }

/* line 28, part4_project/static/scss/_colors.scss */
.text-blue:hover {
  color: #2e79f6 !important; }

/* line 29, part4_project/static/scss/_colors.scss */
.text-light:hover {
  color: #e9e9eb !important; }

/* line 30, part4_project/static/scss/_colors.scss */
.text-grey:hover {
  color: #898989 !important; }

/* line 31, part4_project/static/scss/_colors.scss */
.text-dark:hover {
  color: #323235 !important; }

/* line 33, part4_project/static/scss/_colors.scss */
.bg-yellow {
  background-color: #f2ba4b !important; }

/* line 34, part4_project/static/scss/_colors.scss */
.bg-orange {
  background-color: #e98839 !important; }

/* line 35, part4_project/static/scss/_colors.scss */
.bg-red {
  background-color: #eb5c59 !important; }

/* line 36, part4_project/static/scss/_colors.scss */
.bg-green {
  background-color: #78b857 !important; }

/* line 37, part4_project/static/scss/_colors.scss */
.bg-blue {
  background-color: #2e79f6 !important; }

/* line 38, part4_project/static/scss/_colors.scss */
.bg-light {
  background-color: #e9e9eb !important; }

/* line 39, part4_project/static/scss/_colors.scss */
.bg-grey {
  background-color: #898989 !important; }

/* line 40, part4_project/static/scss/_colors.scss */
.bg-dark {
  background-color: #323235 !important; }

/* line 3, part4_project/static/scss/_light.scss */
.light-theme #toggle-theme {
  color: #e9e9eb;
  background-color: #323235;
  border: 1px solid #e98839; }

/* line 9, part4_project/static/scss/_light.scss */
.light-theme #search_main #button-search {
  background-color: #2e79f6;
  color: #e9e9eb; }

/* line 14, part4_project/static/scss/_light.scss */
.light-theme .filter_search {
  position: relative; }
  /* line 16, part4_project/static/scss/_light.scss */
  .light-theme .filter_search #filter_search {
    border: 1px solid #e9e9eb;
    background-color: #fdfdfd; }
  /* line 20, part4_project/static/scss/_light.scss */
  .light-theme .filter_search #filter_search_clear {
    background-color: #fdfdfd; }

/* line 25, part4_project/static/scss/_light.scss */
.light-theme .btn:hover, .light-theme .btn:focus {
  box-shadow: 0 0 5px 1px #898989; }

/* line 30, part4_project/static/scss/_light.scss */
.light-theme .form-control:hover, .light-theme .form-control:focus {
  box-shadow: 0 0 5px 1px #898989; }

/* line 34, part4_project/static/scss/_light.scss */
.light-theme footer {
  color: #323235; }

/* line 37, part4_project/static/scss/_light.scss */
.light-theme .navbar {
  background-color: #e9e9eb;
  color: #323235; }
  /* line 40, part4_project/static/scss/_light.scss */
  .light-theme .navbar .navbar-brand {
    background-image: url("/static/image/logo_part4.png"); }
  /* line 43, part4_project/static/scss/_light.scss */
  .light-theme .navbar a {
    color: #898989; }
    /* line 45, part4_project/static/scss/_light.scss */
    .light-theme .navbar a:active {
      color: #262629; }
    /* line 48, part4_project/static/scss/_light.scss */
    .light-theme .navbar a:hover, .light-theme .navbar a:focus {
      color: #323235; }
  /* line 53, part4_project/static/scss/_light.scss */
  .light-theme .navbar .auth-block a {
    color: #323235; }

/* line 61, part4_project/static/scss/_light.scss */
.light-theme .nav-breadcrumb ul li:after {
  border: 1px solid #2e79f6; }

/* line 64, part4_project/static/scss/_light.scss */
.light-theme .nav-breadcrumb ul li a {
  color: #898989;
  background-color: #ffffff; }

/* line 68, part4_project/static/scss/_light.scss */
.light-theme .nav-breadcrumb ul li.active {
  color: #323235; }

/* line 74, part4_project/static/scss/_light.scss */
.light-theme .filter {
  color: #323235; }
  /* line 76, part4_project/static/scss/_light.scss */
  .light-theme .filter .title {
    color: #323235; }
  /* line 79, part4_project/static/scss/_light.scss */
  .light-theme .filter .filter_settings {
    background-color: #fdfdfd;
    box-shadow: 0 0 5px 1px #e9e9eb; }
    /* line 85, part4_project/static/scss/_light.scss */
    .light-theme .filter .filter_settings .form-check.checkbox input:before {
      border: 1px solid #898989; }
    /* line 88, part4_project/static/scss/_light.scss */
    .light-theme .filter .filter_settings .form-check.checkbox input:checked:before {
      background-color: #e98839; }
    /* line 95, part4_project/static/scss/_light.scss */
    .light-theme .filter .filter_settings .btn-filter:hover {
      box-shadow: 0 0 5px 1px #e98839; }

/* line 101, part4_project/static/scss/_light.scss */
.light-theme .card {
  box-shadow: 0 0 5px 1px #e9e9eb; }
  /* line 103, part4_project/static/scss/_light.scss */
  .light-theme .card:hover {
    box-shadow: 0 0 5px 1px #898989; }
  /* line 107, part4_project/static/scss/_light.scss */
  .light-theme .card.card-model .model-title {
    color: #323235; }
  /* line 110, part4_project/static/scss/_light.scss */
  .light-theme .card.card-model .partcode {
    color: #3f3f45; }
  /* line 115, part4_project/static/scss/_light.scss */
  .light-theme .card #parts .part-name {
    color: #78b857; }
  /* line 119, part4_project/static/scss/_light.scss */
  .light-theme .card #parts .module-name:hover {
    color: #f2ba4b; }
  /* line 122, part4_project/static/scss/_light.scss */
  .light-theme .card #parts .module-name.active {
    color: #e98839; }
  /* line 127, part4_project/static/scss/_light.scss */
  .light-theme .card .nav-tabs {
    border-color: #e9e9eb; }
    /* line 129, part4_project/static/scss/_light.scss */
    .light-theme .card .nav-tabs .nav-link {
      color: #323235; }
      /* line 131, part4_project/static/scss/_light.scss */
      .light-theme .card .nav-tabs .nav-link:hover {
        color: #2e79f6; }
      /* line 134, part4_project/static/scss/_light.scss */
      .light-theme .card .nav-tabs .nav-link.active {
        color: #e9e9eb;
        background-color: #2e79f6; }

/* line 143, part4_project/static/scss/_light.scss */
.light-theme .error-list .errorcode {
  font-weight: bold;
  color: #eb5c59; }

/* line 147, part4_project/static/scss/_light.scss */
.light-theme .error-list .display {
  font-weight: bold;
  color: #e98839; }

/* line 151, part4_project/static/scss/_light.scss */
.light-theme .error-list .description {
  font-weight: bold;
  color: #f2ba4b; }

/* line 155, part4_project/static/scss/_light.scss */
.light-theme .error-list .causes {
  font-weight: bold;
  color: #2e79f6; }

/* line 159, part4_project/static/scss/_light.scss */
.light-theme .error-list .remedy {
  font-weight: bold;
  color: #78b857; }

/* line 165, part4_project/static/scss/_light.scss */
.light-theme .module-title:hover {
  color: #2e79f6; }

/* line 169, part4_project/static/scss/_light.scss */
.light-theme .selected-module {
  color: #262629;
  font-weight: bold; }

/* line 4, part4_project/static/scss/style.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, "GT Walsheim Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

/* line 9, part4_project/static/scss/style.scss */
a:hover {
  color: #2e79f6; }

/* line 14, part4_project/static/scss/style.scss */
#toggle-theme {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.4em;
  border-radius: 50%;
  cursor: pointer; }

/* line 23, part4_project/static/scss/style.scss */
#search_main {
  position: relative; }
  /* line 26, part4_project/static/scss/style.scss */
  #search_main input {
    border-radius: 6px; }
  /* line 30, part4_project/static/scss/style.scss */
  #search_main #button-search {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 3; }

/* line 40, part4_project/static/scss/style.scss */
.filter_search {
  position: relative; }
  /* line 43, part4_project/static/scss/style.scss */
  .filter_search #filter_search {
    background-color: #fdfdfd;
    border: none;
    border-radius: 6px; }
  /* line 49, part4_project/static/scss/style.scss */
  .filter_search #filter_search_clear {
    padding: .3rem .7rem;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    cursor: pointer;
    background-color: #fdfdfd;
    border: none;
    z-index: 999; }

/* line 61, part4_project/static/scss/style.scss */
.navbar {
  margin-bottom: 1em; }
  /* line 64, part4_project/static/scss/style.scss */
  .navbar .navbar-brand {
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left; }
  /* line 71, part4_project/static/scss/style.scss */
  .navbar .auth-block {
    padding-right: 80px; }

/* line 77, part4_project/static/scss/style.scss */
.nav-breadcrumb ul {
  list-style: none;
  padding: 0 15px; }
  /* line 81, part4_project/static/scss/style.scss */
  .nav-breadcrumb ul li {
    float: left;
    position: relative;
    padding: 0 0.2em 0 0; }
    /* line 86, part4_project/static/scss/style.scss */
    .nav-breadcrumb ul li:after {
      content: '';
      position: absolute;
      transform: rotate(45deg);
      width: 1.2em;
      height: 1.2em;
      top: 0.4em;
      right: 0.8em;
      border: 1px solid; }
    /* line 97, part4_project/static/scss/style.scss */
    .nav-breadcrumb ul li:last-child:after {
      display: none; }
    /* line 101, part4_project/static/scss/style.scss */
    .nav-breadcrumb ul li a {
      float: left;
      position: relative;
      padding: 0 0.4em 0 0;
      margin-right: 0.8em;
      line-height: 2em;
      z-index: 2; }
      /* line 109, part4_project/static/scss/style.scss */
      .nav-breadcrumb ul li a:hover {
        text-decoration: none; }
    /* line 114, part4_project/static/scss/style.scss */
    .nav-breadcrumb ul li.active {
      line-height: 2em; }

/* line 122, part4_project/static/scss/style.scss */
.filter .filter_settings {
  padding: 2px;
  max-height: 100vh;
  overflow-y: scroll;
  padding-right: 1em; }
  /* line 128, part4_project/static/scss/style.scss */
  .filter .filter_settings .form-group {
    margin-bottom: 0; }
  /* line 133, part4_project/static/scss/style.scss */
  .filter .filter_settings .form-check .radio {
    width: 48%;
    margin-right: 2%;
    float: left; }
  /* line 140, part4_project/static/scss/style.scss */
  .filter .filter_settings .form-check.checkbox label {
    cursor: pointer;
    position: relative;
    padding-left: 1.2em; }
  /* line 146, part4_project/static/scss/style.scss */
  .filter .filter_settings .form-check.checkbox input {
    position: relative;
    width: 0; }
    /* line 150, part4_project/static/scss/style.scss */
    .filter .filter_settings .form-check.checkbox input:before {
      content: '';
      border: 1px solid #898989;
      width: 1em;
      height: 1em;
      position: absolute;
      left: 0;
      top: 0; }
  /* line 163, part4_project/static/scss/style.scss */
  .filter .filter_settings .input_num {
    width: 90px; }
    /* line 166, part4_project/static/scss/style.scss */
    .filter .filter_settings .input_num input {
      text-align: center;
      padding: .375rem; }
  /* line 173, part4_project/static/scss/style.scss */
  .filter .filter_settings .btn-filter:hover {
    box-shadow: 0 0 5px 1px #e98839; }

/* line 180, part4_project/static/scss/style.scss */
.card-model-list {
  height: 1080px;
  margin: 0; }

/* line 185, part4_project/static/scss/style.scss */
.card {
  padding: 0.4em 0.4em; }
  /* line 188, part4_project/static/scss/style.scss */
  .card .card_image {
    height: 200px;
    width: 200px; }
  /* line 193, part4_project/static/scss/style.scss */
  .card.card-model-item {
    padding: 0.1em 0.5em; }
    /* line 196, part4_project/static/scss/style.scss */
    .card.card-model-item .brand_model_title {
      height: 3.6em;
      overflow: hidden; }
    /* line 202, part4_project/static/scss/style.scss */
    .card.card-model-item a:hover {
      text-decoration: none; }
  /* line 209, part4_project/static/scss/style.scss */
  .card.card-model .brand_model_title {
    height: 2.4em;
    overflow: hidden; }
  /* line 215, part4_project/static/scss/style.scss */
  .card.card-model a:hover {
    text-decoration: none; }
  /* line 220, part4_project/static/scss/style.scss */
  .card.card-model .name {
    color: #78b857; }
  /* line 226, part4_project/static/scss/style.scss */
  .card.card-detail .brand_model_title {
    height: 2.4em;
    overflow: hidden; }
  /* line 233, part4_project/static/scss/style.scss */
  .card .nav-tabs .nav-link {
    border: none; }
    /* line 236, part4_project/static/scss/style.scss */
    .card .nav-tabs .nav-link:hover {
      border: none; }
    /* line 240, part4_project/static/scss/style.scss */
    .card .nav-tabs .nav-link.active {
      border: none; }
  /* line 247, part4_project/static/scss/style.scss */
  .card #parts .module-name {
    cursor: pointer; }
    /* line 250, part4_project/static/scss/style.scss */
    .card #parts .module-name:hover {
      border: none; }
    /* line 254, part4_project/static/scss/style.scss */
    .card #parts .module-name.active {
      line-height: 2em; }

/* line 261, part4_project/static/scss/style.scss */
#accordion {
  width: 100%; }

/* line 265, part4_project/static/scss/style.scss */
.error-list {
  width: 100%;
  padding: 0; }
  /* line 269, part4_project/static/scss/style.scss */
  .error-list .card-header {
    padding: 0; }
    /* line 272, part4_project/static/scss/style.scss */
    .error-list .card-header .btn {
      width: 100%;
      text-align: left; }
      /* line 276, part4_project/static/scss/style.scss */
      .error-list .card-header .btn:hover, .error-list .card-header .btn:focus {
        text-decoration: none; }

/* line 283, part4_project/static/scss/style.scss */
.form-control:focus {
  color: #898989;
  background-color: #fdfdfd;
  border: none;
  outline: 0; }

/* line 290, part4_project/static/scss/style.scss */
h1 {
  color: #fdfdfd;
  text-align: center;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; }

/* line 296, part4_project/static/scss/style.scss */
.brand_model_card {
  box-shadow: 0px 0px 3px 0px #2e79f6;
  padding: 0.2em 0.4em;
  height: 266px;
  overflow: hidden; }
  /* line 302, part4_project/static/scss/style.scss */
  .brand_model_card:hover {
    box-shadow: 0px 0px 4px 0px #2e79f6; }

/* line 307, part4_project/static/scss/style.scss */
.brand_model_link {
  display: block;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* line 315, part4_project/static/scss/style.scss */
.brand_model_title {
  text-align: center; }

/* line 319, part4_project/static/scss/style.scss */
.error_result, .search_result {
  padding-bottom: 15px;
  color: white; }

/* line 324, part4_project/static/scss/style.scss */
.error_result, .search_result {
  display: flex;
  flex-direction: row; }
  /* line 328, part4_project/static/scss/style.scss */
  .error_result .image, .search_result .image {
    max-width: 100px; }
    /* line 331, part4_project/static/scss/style.scss */
    .error_result .image img, .search_result .image img {
      width: auto;
      max-width: 100%; }
  /* line 337, part4_project/static/scss/style.scss */
  .error_result .desc, .search_result .desc {
    padding-left: 10px;
    flex-shrink: 2;
    width: 100%; }

/* line 348, part4_project/static/scss/style.scss */
.search_result_model {
  color: #2e79f6; }

/* line 352, part4_project/static/scss/style.scss */
.search_result_partcode {
  color: #2e79f6;
  font-style: oblique; }

/* line 357, part4_project/static/scss/style.scss */
.scroll-wrapper {
  width: 100%; }

/* line 361, part4_project/static/scss/style.scss */
.tab-inner-scroll {
  max-height: 400px; }

/* line 365, part4_project/static/scss/style.scss */
.module-title {
  cursor: pointer; }

/* line 369, part4_project/static/scss/style.scss */
.model-opts {
  display: flex;
  flex-direction: column; }

/* line 374, part4_project/static/scss/style.scss */
.carousel-indicators {
  margin-bottom: -7%; }
  /* line 377, part4_project/static/scss/style.scss */
  .carousel-indicators li {
    border-top: 5px solid #2e79f6;
    background-color: transparent; }

/* line 384, part4_project/static/scss/style.scss */
.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem; }

/* line 388, part4_project/static/scss/style.scss */
.breadcrumb-item a {
  font-size: 1em;
  line-height: 1.5em; }

/* line 393, part4_project/static/scss/style.scss */
.breadcrumb-item:hover {
  text-decoration: none; }

/* line 398, part4_project/static/scss/style.scss */
.capt {
  width: 45%;
  display: inline-block; }

/* line 404, part4_project/static/scss/style.scss */
.cartridge_options td:first-child {
  width: 45%; }

/* line 409, part4_project/static/scss/style.scss */
.cartridges tr {
  border-bottom: 1px solid #495057; }

/* line 412, part4_project/static/scss/style.scss */
.cartridges td {
  color: white;
  border: none;
  vertical-align: top;
  padding: 8px 0; }

/* line 419, part4_project/static/scss/style.scss */
.cartridge {
  color: white; }
