{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        {% for brand in brands %}
            <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
                <div class="card btn">
                    <a href="/brand/{{ brand.id }}">
                        <!--h5 class="text-center">{{ brand.name }}</h5-->
                        {% if brand.logotype is not None %}
                            <img src="{{ MEDIA_URL }}images/brands/{{ brand.logotype }}" class="img-fluid"
                                 alt="{{ brand.name }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}images/no-image.png" class="img-fluid" alt="{{ brand.name }}">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}