{% extends 'base.html' %}
{% load static mfilters %}
{% block title %}
    {{ detail_name }}
{% endblock %}

{% block content %}
    <div class="card card-model">
        <div class="row">
            <div class="col-auto">
                <div class="card_image">
                    {% if partcodes.images %}
                        <img src="{{ MEDIA_URL }}{{ partcodes.images }}" class="img-fluid"/>
                    {% else %}
                        <img src="{{ MEDIA_URL }}no_image_part.png" class="img-fluid"/>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <h3>Деталь: <span class="name"> {{ detail_name }} </span></h3>
                <h4>Парткод: <span class="partcode"> {{ partcodes.code }} </span></h4>
                {% if model != '-' %}
                    <h4>Модель: <a href="/model/{{ model_id }}">{{ model }}</a></h4>
                {% endif %}


                    {% if module.name_ru %}
                        <h4>Модуль: <a href="/model/{{ model_id }}?module={{ module.name_ru }}">{{ module.name_ru }}</a>
                    {% elif module.name %}
                        <h4>Модуль: <a href="/model/{{ model_id }}?module={{ module.name }}">{{ module.name }}</a></h4>
                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="py-2">
                    <ul class="nav nav-tabs" id="detailTabs" role="tablist">
                        {% if options and options|length > 0 or cartridge_options|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link active" id="options-tab" data-toggle="tab" href="#options" role="tab"
                                   aria-controls="options"
                                   aria-selected="true">Характеристики</a>
                            </li>
                        {% endif %}
                        <!--li class="nav-item">
                            <a class="nav-link" id="parts-tab" data-toggle="tab" href="#parts" role="tab"
                               aria-controls="parts" aria-selected="false">Парткаталог</a>
                        </li-->
                        {% if options and options|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab"
                                   aria-controls="description" aria-selected="false">Описание</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="options" role="tabpanel"
                             aria-labelledby="options-tab">
                            <div class="table-responsive">
                                <table class="table">
                                    {% if cartridge_options|length > 0 %}
                                        <thead class="thead-light">
                                            <tr>
                                                <th colspan="2"><h5></h5></th>
                                            </tr>
                                        </thead>
                                        <tr class="cartridge_options">
                                        {% for option in cartridge_options %}
                                            <td>{{ option.0 }}</td>
                                            {% if forloop.counter|divisibleby:2 %}
                                            </tr>
                                            <tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                    {% endif %}
                                    {% for caption in captions.0.3 %}
                                        {% if 'Status' not in caption %}
                                            <thead class="thead-light">
                                                <tr>
                                                    {% for subcaption in subcaptions %}
                                                        {% if subcaption.2 == caption and subcaption.3|length > 0 %}
                                                            <th colspan="2"><h5>{{ caption }}</h5></th>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            {% for subcaption in subcaptions %}
                                                {% if subcaption.2 == caption %}
                                                    {% for subcap in subcaption.3 %}
                                                        <tr>
                                                            <td colspan="2">
                                                                {% if 'SubCaption' not in subcap %}
                                                                    <h5 class="capt">{{ subcap|get_caption }}</h5>
                                                                    <span class="val">{{ subcap|get_val }}</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% for value in values %}
                                                            <tr>
                                                                {% if value.0 == subcaption.1 %}
                                                                    <td class="pl-3">
                                                                        <h5>{{ value.2 }}</h5>
                                                                        <div>
                                                                            {% for val in value.3 %}
                                                                                <span class="pl-5 capt">{{ val|get_caption }}</span>
                                                                                <span class="val">{{ val|get_val }}</span>
                                                                                <br>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="parts" role="tabpanel" aria-labelledby="parts-tab">
                            <h3>Парткаталог</h3>
                            {% for partc in partcatalog %}
                                <p>{{ partc }}</p>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumbs %}
     <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/{{ brand_id }}">{{ brand_name }}</a></li>
                    <li class="nav-breadcrumb-item"><a href="/model/{{ model_id }}">{{ model }}</a></li>
                    <li class="nav-breadcrumb-item active">{{ detail_name }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}