#language_select {
  .material-icons-outlined {
    cursor: pointer;
    font-size: 3.2em;
    color: var(--toggle_dl);
  }

  label {
    display: inline-block;
  }

  .custom-select {
    position: absolute;
    display: none;
    border: none;
    background: none;
    color: var(--text_link);
    font-size: 1.5em;

    option {
      border: none;
      background: none;
    }

    &.active {
      display: block;
    }
  }
}