<div class="scrollbar-macosx">
    <div class="brands">
        {% for brand in brands %}
            <div class="brand hover_btn">
                <label for="{{ brand.name }}" {% if brand.logotype is not None %}
                       style="background-image: url('{{ MEDIA_URL }}brands/{{ brand.logotype }}')"
                {% else %}
                       style="background-image: url('{{ MEDIA_URL }}no-image.png')">
                {% endif %}>
                <input type="checkbox" id="{{ brand.name }}" name="{{ brand.id }}">
                </label>
            </div>
        {% endfor %}
    </div>
</div>