<div class="row">
    {% for brand in brands %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
            <div class="card btn">
                <a href="/brand/{{ brand.id }}">
                    <!--h5 class="text-center">{{ brand.name }}</h5-->
                    {% if brand.logotype is not None %}
                        <img src="{{ MEDIA_URL }}brands/{{ brand.logotype }}" class="img-fluid"
                             alt="{{ brand.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ brand.name }}">
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
</div>