{% extends 'base.html' %}
{% load static brand_extras %}
{% block title %}
    Part4
{% endblock %}
{% block description %}
    <meta name="description"
          content="Каталог моделей, характеристики, парт каталог, коды ошибок, расходные материалы, картриджи">
{% endblock %}
{% block keyword %}
    <meta name="keyword"
          content="характеристики, коды ошибок, принтеров, мфу, part, парт каталог, картриджи, картриджи для принтера, картриджи для принтеров, расходные материалы для оргтехники">
{% endblock %}

{% block content %}
    <div class="container nav_tabs">
        <a href="/" class="active hover_btn">Модели</a>
        <a href="/cartridge/" class="hover_btn">Расходные материалы</a>
    </div>
    <div class="scrollbar-macosx">
        <div class="brands">
            {% for brand in brands %}
                <div class="brand hover_btn">
                    <label for="{{ brand.name }}" {% if brand.logotype is not None %}
                           style="background-image: url('{{ MEDIA_URL }}brands/{{ brand.logotype }}')"
                    {% else %}
                           style="background-image: url('{{ MEDIA_URL }}no-image.png')">
                    {% endif %}>
                    <input type="checkbox" id="{{ brand.name }}" name="{{ brand.id }}" value="{{ brand.id }}">
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-3">
        <div id="filter_model" class="col-lg-3 col-md-4 col-12">
            {% include 'filter/filter.html' %}
        </div>
        <div class="col-lg-9 col-md-8 col-12 filter-result">
            {#Search#}
            <div class="input-group w-100 filter_search">
                <input type="text" id="filter_search" name="filter_search" aria-label="Close"
                       class="form-control" placeholder="Поиск по модели">
                <span class="input-group-text" aria-hidden="true" id="filter_search_clear"> &times; </span>
            </div>
            {#Search end#}
            <div class="scrollbar-macosx mt-2">
                <div id="filter_model_result">
                    {% include 'filter/filter_result.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block breadcrumbs %}

{% endblock %}

{% block ajaxjs %}
    <script src="{% static 'filter.js' %}"></script>
{% endblock %}