{% extends 'base.html' %}
{% load static el_pagination_tags main_extras mfilters %}

{% paginate entries %}
{% for entry in entries %}
    {% block content %}
        {% if cartridge_result or error_result or all_result %}
            <div class="search_results card-model">
                {% if model_result %}
                    {% for model in model_result %}
                        <div class="search_result">
                            <div class="image">
                                {% if model.3 %}
                                    <img src="{{ MEDIA_URL }}{{ model.3 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    {% if model.1 %}
                                        <h2><a href="/model/{{ model.1 }}" class="text-blue">{{ model.2 }}</a></h2>
                                    {% endif %}
                                    <div class="rating">
                                        Rating
                                        <div class="stars">
                                            <img src="{{ MEDIA_URL }}icons/star.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        </div>
                                    </div>
                                    <div class="search_result_partcode">
                                        {% if model.7 %}
                                            <span class="text-yellow">{{ model.7 }}: {{ model.8 }}</span>
                                        {% endif %}
                                    </div>
                                    {% if model.21 %}
                                        <div class="search_result_price">
                                            <span class="text-grey">{% if lang == 'ru' %}Цена
                                            {% else %}Estimated price{% endif %}:</span>
                                            <span class="text-magenta">{{ model.21|d_mask }} &#x20bd;</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if error_result %}
                    {% for index in error_result %}
                        <div class="error_result">
                            <div class="image">
                                {% if index.7 %}
                                    <img src="{{ index.7 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    <p>
                                        Error: <strong class="text-blue">{{ index.2 }}</strong>
                                    </p>
                                    {% if index.8 %}
                                        <div class="models">
                                            <p>Models:
                                                <button class="error_result_models_show btn btn-link"
                                                   aria-label="models-inner{{ forloop.counter0 }}">
                                                    <span class="btn_show">
                                                        {% if lang == 'ru' %}показать модели{% else %}show models{% endif %}
                                                    </span>
                                                    <span class="btn_hide" style="display: none;">
                                                        {% if lang == 'ru' %}скрыть модели{% else %}hide models{% endif %}
                                                    </span>
                                                </button>
                                            </p>
                                            <p id="models-inner{{ forloop.counter0 }}" style="display: none;">
                                                {% for m in index.8 %}
                                                    <a href="/model/{{ m }}">{{ index.9|list_item:forloop.counter0 }}</a>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if index.3 %}<p>Display: <strong>{{ index.3 }}</strong></p>{% endif %}
                                    {% if index.4 %}<p>Description: <strong>{{ index.4 }}</strong></p>{% endif %}
                                    {% if index.5 %}<p>Causes: <strong>{{ index.5 }}</strong></p>{% endif %}
                                    {% if index.6 %}<p>Remedy: <strong>{{ index.6 }}</strong></p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if all_result %}
                    {% for index in all_result %}
                        <div class="search_result">
                            <div class="image">
                                {% if index.13 %}
                                    <img src="{{ MEDIA_URL }}{{ index.13 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    {% if index.12 is None %}
                                        <h2><a href="/model/{{ index.12 }}" class="text-blue">{{ index.7 }}</a></h2>
                                    {% elif index.8 %}
                                        <h2><a href="/detail/{{ index.2 }}" class="text-blue">
                                            {% if lang == 'ru' %}
                                                {% if index.9 %}{{ index.9 }}{% else %}{{ index.8 }}{% endif %}
                                            {% else %}
                                                {{ index.8 }}
                                            {% endif %}
                                        </a></h2>
                                    {% elif index.9 %}
                                        <h2><a href="/detail/{{ index.2 }}" class="text-blue">{{ index.9 }}</a></h2>
                                    {% endif %}
                                    <div class="rating">
                                        Rating
                                        <div class="stars">
                                            <img src="{{ MEDIA_URL }}icons/star.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        </div>
                                    </div>
                                    <div class="search_result_partcode">
                                        {% if index.12 != None %}
                                            <span class="text-yellow">Part code: {{ index.12 }}</span>
                                        {% endif %}
                                    </div>
                                    {% if index.3|length > 0 and index.4|length > 0 and index.3.0 != None %}
                                        <div class="search_result_model">
                                            <div class="models">
                                                <p>{% if lang == 'ru' %}Модели{% else %}Models{% endif %}:
                                                    <button class="error_result_models_show btn btn-link"
                                                       aria-label="models-inner_{{ index.2 }}">
                                                        <span class="btn_show">
                                                            {% if lang == 'ru' %}показать модели{% else %}show models{% endif %}
                                                        </span>
                                                        <span class="btn_hide" style="display: none;">
                                                            {% if lang == 'ru' %}скрыть модели{% else %}hide models{% endif %}
                                                        </span>
                                                    </button>
                                                </p>
                                                <p id="models-inner_{{ index.2 }}" style="display: none;">
                                                    {% for id in index.3 %}
                                                        {% with idx=forloop.counter0 %}
                                                            <a href="/model/{{ id }}">
                                                                {% for model in index.4 %}
                                                                    {% if forloop.counter0 == idx %}
                                                                        {{ model }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </a>
                                                        {% endwith %}
                                                    {% endfor %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if index.14.0 %}
                                        <div class="search_result_price">
                                            <span class="text-grey">{% if lang == 'ru' %}Цена
                                            {% else %}Estimated price{% endif %}:</span>
                                            <span class="text-magenta">{{ index.14.0|d_mask }} &#x20bd;</span>
                                            <!--small>({{ index.14 }})</small-->
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if cartridge_result %}
                    {% for cartridge in cartridge_result %}
                        <div class="supplie_result">
                            <div class="image">
                                <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    <h2>
                                        <a href="{% if cartridge.0 %}/supplies/{{ cartridge.0 }}{% endif %}" class="text-blue">
                                            <span class="text-green pr-2">{{ cartridge.2 }}</span>
                                            {% if cartridge.3 %}
                                                {{ cartridge.3 }}
                                            {% elif cartridge.4 %}
                                                {{ cartridge.4 }}
                                            {% endif %}
                                            {% if cartridge.7 %}
                                                {{ cartridge.7 }}
                                            {% endif %}
                                        </a>
                                    </h2>
                                    <div class="search_result_model">
                                        <div class="models">
                                            <p>{% if lang == 'ru' %}Модели{% else %}Models{% endif %}:
                                                <button class="error_result_models_show btn btn-link"
                                                   aria-label="models-inner_{{ cartridge.0 }}">
                                                    <span class="btn_show">
                                                        {% if lang == 'ru' %}показать модели{% else %}show models{% endif %}
                                                    </span>
                                                    <span class="btn_hide" style="display: none;">
                                                        {% if lang == 'ru' %}скрыть модели{% else %}hide models{% endif %}
                                                    </span>
                                                </button>
                                            </p>
                                            <p id="models-inner_{{ cartridge.0 }}" style="display: none;">
                                                {% for id in cartridge.5 %}
                                                    {% with idx=forloop.counter0 %}
                                                        <a href="/model/{{ id }}">
                                                            {% for model in cartridge.6 %}
                                                                {% if forloop.counter0 == idx %}
                                                                    {{ model }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </a>
                                                    {% endwith %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    {% if cartridge.8 %}
                                        <div class="search_result_price">
                                            <span class="text-grey">{% if lang == 'ru' %}цена
                                            {% else %}Estimated price{% endif %}:</span>
                                            <span class="text-magenta">{{ cartridge.8|d_mask }} &#x20bd;</span>
                                            <!--small>({{ cartridge.9 }})</small-->
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            <div class="not_found">
                <img src="{{ MEDIA_URL }}icons/not_found.svg" alt="not found">
                <h3>Not found...</h3>
            </div>
        {% endif %}
    {% endblock %}
{% endfor %}
{% show_pages %}
{% block title %}
    Part4
{% endblock %}

{% block breadcrumbs %}

{% endblock %}