{% extends 'base.html' %}
{% block title %}
    Part4 | {% if lang == 'ru' %}Поиск{% else %}Search {% endif %}
{% endblock %}
{% load static el_pagination_tags main_extras mfilters %}

{% paginate entries %}
{% for entry in entries %}
    {% block content %}
        {% if model_result or error_result or partcode_result %}
            <div class="search_results">
                {% if model_result %}
                    {% for model in model_result %}
                        <div class="search_result">
                            <div class="image">
                                {% if model.2 %}
                                    <img src="{{ MEDIA_URL }}{{ model.2 }}">
                                {% elif model.3 %}
                                    <img src="{{ MEDIA_URL }}{{ model.3 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    {% if model.1 %}
                                        <h2><a href="/model/{{ model.0 }}" class="text-blue">{{ model.1 }}</a></h2>
                                    {% endif %}
                                    {% if model.6 %}
                                        {% for mt in model.6 %}
                                            {% if 'Status' in mt %}
                                                <p class="status">{{ mt }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif model.7 %}
                                        {% for mt in model.7 %}
                                            {% if 'Status' in mt %}
                                                <p class="status">{{ mt }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="rating">
                                        Rating
                                        <div class="stars">
                                            <img src="{{ MEDIA_URL }}icons/star.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                            <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        </div>
                                    </div>
                                    <div class="search_result_tech">
                                        {% if model.6 %}
                                            {% for mt in model.6 %}
                                                {% if 'Status' not in mt %}
                                                    <p>{{ mt }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif model.7 %}
                                            {% for mt in model.7 %}
                                                {% if 'Status' not in mt %}
                                                    <p>{{ mt }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% for price in model.8 %}
                                        {% if price %}
                                            <div class="search_result_price">
                                                <span>{% if lang == 'ru' %}Цена
                                                    {% else %}Estimated price{% endif %}:</span>
                                                <span>{{ price.1|d_mask }} &#x20bd;</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if error_result %}
                    {% for index in error_result %}
                        <div class="error_result">
                            <div class="image">
                                {% if index.7 %}
                                    <img src="{{ index.7 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    <p>
                                        Error: <strong class="text-blue">{{ index.2 }}</strong>
                                    </p>
                                    {% if index.8 %}
                                        <div class="models">
                                            <p>Models:
                                                <button class="error_result_models_show btn btn-link"
                                                        aria-label="models-inner{{ forloop.counter0 }}">
                                                    <span class="btn_show">
                                                        {% if lang == 'ru' %}показать модели{% else %}show
                                                            models{% endif %}
                                                    </span>
                                                    <span class="btn_hide" style="display: none;">
                                                        {% if lang == 'ru' %}скрыть модели{% else %}hide
                                                            models{% endif %}
                                                    </span>
                                                </button>
                                            </p>
                                            <p id="models-inner{{ forloop.counter0 }}" style="display: none;">
                                                {% for m in index.8 %}
                                                    <a href="/model/{{ m }}">{{ index.9|list_item:forloop.counter0 }}</a>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if index.3 %}<p>Display: <strong>{{ index.3 }}</strong></p>{% endif %}
                                    {% if index.4 %}<p>Description: <strong>{{ index.4 }}</strong></p>{% endif %}
                                    {% if index.5 %}<p>Causes: <strong>{{ index.5 }}</strong></p>{% endif %}
                                    {% if index.6 %}<p>Remedy: <strong>{{ index.6 }}</strong></p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if partcode_result %}
                    {% for index in partcode_result %}
                        <div class="search_result">
                            <div class="image">
                                {% if index.9 %}
                                    <img src="{{ MEDIA_URL }}{{ index.9 }}">
                                {% elif index.10 %}
                                    <img src="{{ MEDIA_URL }}{{ index.10 }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                                {% endif %}
                            </div>
                            <div class="desc">
                                <h2><a href="/partcode/{{ index.2 }}">
                                    {% if lang == 'ru' %}
                                        {% if index.4 %} {{ index.4 }} <small>{{ index.3 }}</small>
                                        {% else %} {{ index.3 }} {% endif %}
                                    {% else %}
                                        {% if index.3 is None %} {{ index.4 }} {% else %} {{ index.3 }} {% endif %}
                                    {% endif %}
                                </a></h2>

                                <div class="rating">
                                    Rating
                                    <div class="stars">
                                        <img src="{{ MEDIA_URL }}icons/star.svg">
                                        <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                        <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                    </div>
                                </div>
                                <div class="search_result_partcode">
                                    {% if index.5 %}
                                        <span>Part code: {{ index.5 }}</span>
                                    {% endif %}
                                </div>
                                {% if index.12|length > 0 and index.12.0 %}
                                    <div class="search_result_model">
                                        <div class="models">
                                            <p>{% if lang == 'ru' %}Модели{% else %}Models{% endif %}:
                                                <button class="error_result_models_show btn-link"
                                                        aria-label="models-inner_{{ index.2 }}">
                                                        <span class="btn_show">
                                                            {% if lang == 'ru' %}показать модели{% else %}show
                                                                models{% endif %}
                                                        </span>
                                                    <span class="btn_hide" style="display: none;">
                                                            {% if lang == 'ru' %}скрыть модели{% else %}hide
                                                                models{% endif %}
                                                        </span>
                                                </button>
                                            </p>
                                            <p class="models-inner" id="models-inner_{{ index.2 }}" style="display: none;">
                                                {% for model in index.12 %}
                                                    {% with model|d_split:":" as mi %}
                                                        <a href="/model/{{ mi.0 }}">{{ mi.1 }}</a>
                                                    {% endwith %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if index.14.0 %}
                                    <div class="search_result_price">
                                        <span>{% if lang == 'ru' %}Цена
                                            {% else %}Estimated price{% endif %}:</span>
                                        <span>{{ index.14.0|d_mask }} &#x20bd;</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if cartridge_result %}
                    {% for cartridge in cartridge_result %}
                        <div class="supplie_result">
                            <div class="image">
                                <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;">
                            </div>
                            <div class="desc">
                                <div class="desc-inner">
                                    <h2>
                                        <a href="{% if cartridge.0 %}/supplies/{{ cartridge.0 }}{% endif %}"
                                           class="text-blue">
                                            <span class="text-green pr-2">{{ cartridge.2 }}</span>
                                            {% if cartridge.3 %}
                                                {{ cartridge.3 }}
                                            {% elif cartridge.4 %}
                                                {{ cartridge.4 }}
                                            {% endif %}
                                            {% if cartridge.7 %}
                                                {{ cartridge.7 }}
                                            {% endif %}
                                        </a>
                                    </h2>
                                    <div class="search_result_model">
                                        <div class="models">
                                            <p>{% if lang == 'ru' %}Модели{% else %}Models{% endif %}:
                                                <button class="error_result_models_show btn btn-link"
                                                        aria-label="models-inner_{{ cartridge.0 }}">
                                                    <span class="btn_show">
                                                        {% if lang == 'ru' %}показать модели{% else %}show
                                                            models{% endif %}
                                                    </span>
                                                    <span class="btn_hide" style="display: none;">
                                                        {% if lang == 'ru' %}скрыть модели{% else %}hide
                                                            models{% endif %}
                                                    </span>
                                                </button>
                                            </p>
                                            <p id="models-inner_{{ cartridge.0 }}" style="display: none;">
                                                {% for id in cartridge.5 %}
                                                    {% with idx=forloop.counter0 %}
                                                        <a href="/model/{{ id }}">
                                                            {% for model in cartridge.6 %}
                                                                {% if forloop.counter0 == idx %}
                                                                    {{ model }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </a>
                                                    {% endwith %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    {% if cartridge.8 %}
                                        <div class="search_result_price">
                                            <span class="text-grey">{% if lang == 'ru' %}цена
                                            {% else %}Estimated price{% endif %}:</span>
                                            <span class="text-magenta">{{ cartridge.8|d_mask }} &#x20bd;</span>
                                            <!--small>({{ cartridge.9 }})</small-->
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            <div class="not_found">
                <img src="{{ MEDIA_URL }}icons/not_found.svg" alt="not found">
                <h3>Not found...</h3>
            </div>
        {% endif %}
    {% endblock %}
{% endfor %}
{% show_pages %}

{% block breadcrumbs %}

{% endblock %}