{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }} - {{ cartridge.1 }}
{% endblock %}

{% block content %}
    {% if cartridge %}
        <div class="cartridge">
            <h5>Код производителя: <span class="text-green">{{ cartridge.1 }}</span></h5>
            <p>
                {% if cartridge.3 %}
                   Наименование: <span class="text-yellow">{{ cartridge.3 }}</span>
                {% elif cartridge.2 %}
                    Name: <span class="text-yellow">{{ cartridge.2 }}</span>
                {% endif %}
            </p>
            <h6>Совместим с моделями:</h6>
            <p class="pl-2">
                {% if cartridge.4 %}
                    {% for model in cartridge.4 %}
                        {% if model.0 and model.0 != 'None' %}
                            <a href="/model/{{ model.0 }}">{{ model.1 }}</a> <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if cartridge.8 %}
                    {% for model in cartridge.8 %}
                        {{ model }} <br>
                    {% endfor %}
                {% endif %}
            </p>
        {% if options and options|length > 0 %}
            <h6 class="text-red">Опции:</h6>
            <div class="table-responsive cartridges">
                <table class="table">
                    {% for option in options %}
                        {% if forloop.counter|divisibleby:2 %}
                            <td>{{ option.0 }}</td>
                        {% else %}
                            <tr>
                            <td>{{ option.0 }}</td>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/cartridge/cartridges/{{ brand_id }}">{{ brand }}</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}