h1 {
    color: #bbccdd;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
.model-opts {

}
.module-title {
    cursor: pointer;
}
.carousel-indicators li {
    border-top: 10px solid #00a8ff;
    background-color: transparent;
}