{% extends 'base.html' %}
{% load static mfilters main_extras mathfilters %}
{% block title %}
    {% if detail_name_ru != '' and detail_name_ru != None and lang == 'ru' %}
        {{ detail_name_ru }}
        {% if detail_name is not None %}<br> <small>{{ detail_name }}</small>{% endif %}
    {% else %}
        {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}
    {% endif %}
{% endblock %}
{% block description %}
    <meta name="description"
          content="деталь, {{ detail_name }}, {{ detail_name_ru }}, парт код, {{ partcodes.code }}, модель, {{ model }}, модуль,  {{ module.name_ru }}, {{ module.name }}, {{ detail_desc }}">
{% endblock %}
{% block keyword %}
    <meta name="keyword"
          content="{{ detail_name }}, {{ detail_name_ru }}, {{ module.name_ru }}, {{ module.name }}, part, парт каталог, расходные материалы, ремкомплект, расходные материалы, запчасть, запчасти">
{% endblock %}
{% block content %}
    <div class="card-model detail">
        <div class="card-head">
            <div class="row">
                <div class="col-sm-auto col-12">
                    <div class="card-image">
                        {% if images %}
                            <img src="{{ MEDIA_URL }}{{ images }}"/>
                        {% else %}
                            <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm col-12">
                    <h3 class="title">
                        {% if detail_name_ru != '' and detail_name_ru != None and lang == 'ru' %}
                            {{ detail_name_ru }}
                            {% if detail_name is not None %}<br> <small>{{ detail_name }}</small>{% endif %}
                        {% else %}
                            {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}
                        {% endif %}
                    </h3>
                    <div class="container-fluid table-tech">
                        {% if partcode and partcode != '-' %}
                            <div class="row">
                                <div class="col-md-4 col-12 first"><span class="capt">
                                        {% if lang == 'ru' %}Парткод{% else %} Part code {% endif %} </span></div>
                                <div class="col-md-7 offset-md-1 offset-1 col-11">{{ partcode }}</div>
                            </div>
                        {% endif %}
                        {% if description != '' and description != None %}
                            <div class="row">
                                <div class="col-md-4 col-12 first"><span class="capt">{% if lang == 'ru' %}
                                    Описание{% else %}
                                    Description {% endif %}</span></div>
                                <div class="col-md-7 offset-md-1 offset-1 col-11">{{ description }}</div>
                            </div>
                        {% endif %}
                        {% if partcode_description != '' and partcode_description != None %}
                            <div class="row">
                                <div class="col-md-4 col-12 first">
                                    <span class="capt">{% if lang == 'ru' %}Дополнительно{% else %}
                                        Addition {% endif %}</span></div>
                                <div class="col-md-7 offset-md-1 offset-1 col-11">{{ partcode_description }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if v_prices.0.0 is not None %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="price">
                            {% if lang == 'ru' %}Цена: <span>{{ v_prices.0.0|d_mask }} &#x20bd;</span>
                            {% else %} Price: <span>${{ v_prices.0.0|divide:currency|d_mask }} </span> {% endif %}
                        </div>
                    </div>
                    <div class="col pt-2">
                        <button class="btn hover_btn" id="btn-buy">
                            {% if lang == 'ru' %}Купить{% else %}Buy{% endif %}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="py-2">
                    <ul class="nav nav-tabs" id="detailTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link "
                               id="options-tab" data-toggle="tab" role="tab" href="#options"
                               aria-controls="options" aria-selected="">
                                <img src="{{ MEDIA_URL }}icons/options_ico.png">
                                <span>{% if lang == 'ru' %}Характеристики{% else %}Specifications{% endif %}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-responsive container-fluid">
                        <div class="row header">
                            <div class="col-5">
                                <span class="first">{% if lang == 'ru' %}Мовместимые модели{% else %}Compatible
                                    models{% endif %}</span>
                            </div>
                            <div class="col">
                                <span>{% if lang == 'ru' %}Модули{% else %}Compatible modules{% endif %}</span>
                            </div>
                        </div>
                        {% for model in c_models %}
                            <div class="row">
                                <div class="col-5">
                                    <h5><a href="/model/{{ model.0 }}">{{ model.1 }}</a></h5>
                                </div>
                                <div class="col">
                                    <a href="/model/{{ model.0 }}?module={{ model.3 }}">
                                        {% if lang == 'ru' and model.4 %}{{ model.4 }}
                                            {% if model.3 %}({{ model.3 }}){% endif %}
                                        {% else %}{{ model.3 }}{% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-content">
                        {% if cartridge_options|length > 0 or subcaptions|length > 0 %}
                            <div class="tab-pane fade show active" id="options">
                                {% include 'detail/options.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modals/contact.html' %}
{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">{% if lang == 'ru' %}Главная{% else %}
                        Main{% endif %}</a></li>
                    <li class="nav-breadcrumb-item active">
                        {% if detail_name_ru != '' and detail_name_ru != None and lang == 'ru' %}
                            {{ detail_name_ru }}
                            {% if detail_name is not None %}<small> ({{ detail_name }})</small>{% endif %}
                        {% else %}
                        {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}