{% extends 'base.html' %}
{% load static mfilters main_extras mathfilters %}
{% block title %}
    {% if detail_name_ru != '' and detail_name_ru != None and lang == 'ru' %}
        {{ detail_name_ru }}
        {% if detail_name is not None %}<br> <small>{{ detail_name }}</small>{% endif %}
    {% else %}
        {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}
    {% endif %}
{% endblock %}
{% block description %}
    <meta name="description"
          content="деталь, {{ detail_name }}, {{ detail_name_ru }}, парт код, {{ partcodes.code }}, модель, {{ model }}, модуль,  {{ module.name_ru }}, {{ module.name }}, {{ detail_desc }}">
{% endblock %}
{% block keyword %}
    <meta name="keyword"
          content="{{ detail_name }}, {{ detail_name_ru }}, {{ module.name_ru }}, {{ module.name }}, part, парт каталог, расходные материалы, ремкомплект, расходные материалы, запчасть, запчасти">
{% endblock %}
{% block content %}
    <div class="card-model detail">
        <div class="card-head">
            <div class="row">
                <div class="col-auto">
                    <div class="card-image">
                        {% if images %}
                            <img src="{{ MEDIA_URL }}{{ images }}"/>
                        {% else %}
                            <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <h3 class="title">
                        {% if detail_name_ru != '' and detail_name_ru != None and lang == 'ru' %}
                            {{ detail_name_ru }}
                            {% if detail_name is not None %}<br> <small>{{ detail_name }}</small>{% endif %}
                        {% else %}
                            {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}
                        {% endif %}
                    </h3>
                    <div class="table-responsive">
                        <table>
                            {% if partcode and partcode != '-' %}
                                <tr>
                                    <td class="first"><span class="capt">
                                        {% if lang == 'ru' %}Парткод{% else %} Part code {% endif %} </span></td>
                                    <td>{{ partcode }}</td>
                                </tr>
                            {% endif %}
                            {% if model_name != '-' %}
                                <tr>
                                    <td><span class="capt">{% if lang == 'ru' %}Модель{% else %}
                                        Model {% endif %}</span></td>
                                    <td><a href="/model/{{ model_id }}">{{ model_name }}</a></td>
                                </tr>
                            {% endif %}
                            {% if module_name %}
                                <tr>
                                    <td><span class="capt">{% if lang == 'ru' %}Модуль{% else %}
                                        Module {% endif %}</span></td>
                                    <td><a href="/model/{{ model_id }}?module={{ module_name }}">{{ module_name }}</a>
                                    </td>
                                </tr>
                            {% elif module_name_ru %}
                                <tr>
                                    <td><span class="capt">{% if lang == 'ru' %}Модуль{% else %}
                                        Module {% endif %}</span></td>
                                    <td>
                                        <a href="/model/{{ model_id }}?module={{ module_name_ru }}">{{ module_name_ru }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if detail_desc != '' and detail_desc != None %}
                                <tr>
                                    <td><span class="capt">{% if lang == 'ru' %}Описание{% else %}
                                        Description {% endif %}</span></td>
                                    <td>{{ detail_desc }}</td>
                                </tr>
                            {% endif %}
                            {% if part_desc != '' and part_desc != None %}
                                <tr>
                                    <td><span class="capt">{% if lang == 'ru' %}Дополнительно{% else %}
                                        Addition {% endif %}</span></td>
                                    <td>{{ part_desc }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            {% if price %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="price">
                            {% if lang == 'ru' %}Ориентировочная цена: <span>{{ price|d_mask }} &#x20bd;</span>
                            {% else %} Estimated price: <span>${{ price|div:currency|d_mask }} </span> {% endif %}
                            <!--small>({{ price.1 }})</small-->
                        </div>
                    </div>
                    <div class="col pt-2">
                        <button class="btn hover_btn" id="btn-buy">
                            {% if lang == 'ru' %}Купить{% else %}Buy{% endif %}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="py-2">
                    {% if options and options|length > 0 or cartridge_options|length > 0 %}
                        <div class="nav nav-tabs">
                            <div class="nav-item">
                                <a class="nav-link active" href="#options">
                                    {% if lang == 'ru' %}Характеристики{% else %}Specifications{% endif %}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-content">
                        {% if cartridge_options|length > 0 or subcaptions|length > 0 %}
                            <div class="tab-pane fade show active" id="options">
                                {% include 'detail/options.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modals/contact.html' %}
{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">{% if lang == 'ru' %}Главная{% else %}
                        Main{% endif %}</a></li>
                    <li class="nav-breadcrumb-item"><a href="/model/{{ model_id }}">{{ model_name }}</a></li>
                    <li class="nav-breadcrumb-item active">
                        {% if detail_name is not None %}{{ detail_name }}{% else %}{{ detail_name_ru }}{% endif %}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}