{% extends 'base.html' %}
{% load static mfilters %}
{% block title %}
    {{ detail_name }}
{% endblock %}
{% block description %}
    <meta name="description" content="деталь, {Плата форматтера}, парт код, {302NM94052}, модель, {Kyocera ECOSYS M3550idn}, модуль, {Электронные компоненты} {{ detail_desc }}">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="{{ detail_name }}, {{ detail_name_ru }}, {{ module.name_ru }}, {{ module.name }}, part, парт каталог, расходные материалы, ремкомплект, расходные материалы, запчасть, запчасти">
{% endblock %}
{% block content %}
    <div class="card card-model">
        <div class="row">
            <div class="col-auto">
                <div class="card_image">
                    {% if partcodes.images %}
                        <img src="{{ MEDIA_URL }}{{ partcodes.images }}" class="img-fluid"/>
                    {% else %}
                        <img src="{{ MEDIA_URL }}no_image_part.png" class="img-fluid"/>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <h3>Деталь: <span class="name">
                    {% if detail_name_ru != '' %}
                        {{ detail_name_ru }} <br> <small class="text-grey" style="padding-left: 109px;"> {{ detail_name }} </small></span>
                    {% else %}
                        {{ detail_name }} </span>
                    {% endif %}
                </h3>
                <h4>Парткод: <span class="partcode"> {{ partcodes.code }} </span></h4>
                {% if model != '-' %}
                    <h4>Модель: <a href="/model/{{ model_id }}">{{ model }}</a></h4>
                {% endif %}
                {% if module.name_ru %}
                    <h4>Модуль: <a href="/model/{{ model_id }}?module={{ module.name_ru }}">{{ module.name_ru }}</a></h4>
                {% elif module.name %}
                    <h4>Модуль: <a href="/model/{{ model_id }}?module={{ module.name }}">{{ module.name }}</a></h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="py-2">
                    {% if detail_desc != '' %}
                        <p class="p-3">{{ detail_desc }}</p>
                    {% endif %}
                    <ul class="nav nav-tabs" id="detailTabs" role="tablist">
                        {% if options and options|length > 0 or cartridge_options|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link active"
                                   id="options-tab" data-toggle="tab" href="#options" role="tab"
                                   aria-controls="options"
                                   aria-selected="true">Характеристики</a>
                            </li>
                        {% endif %}
                        {% if options and options|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="parts-tab" data-toggle="tab" href="#parts" role="tab"
                                   aria-controls="parts" aria-selected="false">Парткаталог</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% if cartridge_options|length > 0 or subcaptions|length > 0 %}
                            <div class="tab_controls">
                                <a class="nav-link {% if cur_module is None %} active {% endif %}"
                                   id="controls_options-tab"
                                   data-toggle="options-tab" href="#options" role="tab"
                                   aria-controls="options"
                                   aria-selected="true">Характеристики</a>
                            </div>
                            <div class="tab-pane fade show active" id="options" role="tabpanel"
                                 aria-labelledby="options-tab">
                                {% include 'details/options.html' %}
                            </div>
                        {% endif %}
                        {% if partcatalog|length > 0 %}
                            <div class="tab_controls">
                                <a class="nav-link"
                                   id="controls_parts-tab"
                                   data-toggle="parts-tab" href="#parts" role="tab"
                                   aria-controls="parts" aria-selected="false">Парткаталог</a>
                            </div>
                            <div class="tab-pane fade" id="parts" role="tabpanel" aria-labelledby="parts-tab">
                                <h3>Парткаталог</h3>
                                {% for partc in partcatalog %}
                                    <p>{{ partc }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumbs %}
     <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/{{ brand_id }}">{{ brand_name }}</a></li>
                    <li class="nav-breadcrumb-item"><a href="/model/{{ model_id }}">{{ model }}</a></li>
                    <li class="nav-breadcrumb-item active">{{ detail_name }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}