{% load static mfilters main_extras mathfilters %}
<h1> {% if lang == 'ru' %}Корзина{% else %}Cart {% endif %}</h1>
{% csrf_token %}
<div class="cart_order">
    {% if cart_items|length > 0 %}
        <a href="#" class="btn">{% if lang == 'ru' %}Оформить{% else %}Order {% endif %}</a>
    {% endif %}
</div>
<div class="cart_table">
    {% if order %}
        <h2 class="order_notify">Ваш заказ № {{ order }} сформирован и передан на обработку</h2>
    {% endif %}
    <table>
        <tbody>
        {% for item in cart_items %}
            <tr class="cart_item">
{#                <td>{{ item.1 }}</td>#}
                <td><a href="{% if item.5 %}/partcode/
                    {{ item.5 }}{% else %}/model/{{ item.6 }}{% endif %}">{{ item.2 }}</a></td>
                <td class="cart_counter" counts="{{ item.8 }}">
                    <span class="material-icons-outlined cart_minus" aria-id="{{ item.7 }}">remove</span>
                    <input type="number" value="{{ item.3 }}" aria-id="{{ item.7 }}">
                    <span class="material-icons-outlined cart_plus" aria-id="{{ item.7 }}">add</span>
                </td>
                <td>{% if lang == 'ru' %}Цена: <span>{{ item.4|d_mask }} &#x20bd;</span>
                {% else %} Price: <span>${{ item.4|divide:currency|d_mask }} </span> {% endif %}</td>
                <td>
                    <span class="material-icons-outlined cart_item_remove" id="{{ item.7 }}">delete</span>
                </td>

            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td style="text-align: right">{% if lang == 'ru' %}Итого: {% else %}Total: {% endif %}</td>
            <td class="order_total">{% if lang == 'ru' %}{{ cart_summa|d_mask }}  &#x20bd;{% else %} ${{ cart_summa|divide:currency|d_mask }}{% endif %}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

{% if orders|length > 0 %}
    <h2 class="order_title">{% if lang == 'ru' %}Заказы:{% else %}Orders:{% endif %}</h2>
    {% for order in orders %}
        <div class="order_item">
            <div class="order_info">
                {% if lang == 'ru' %}
                    Заказ № {{ order.order_num }} от {{ order.cart_history.0.date }}
                    <br>адрес {{ order.address }} <br>телефон {{ order.phone }}
                    <span class="order_status">текущий статус: {{ order.status }}</span>
                {% else %}
                    Order # {{ order.order_num }} from {{ order.cart_history.0.date }}
                    <br>to {{ order.address }} <br>phone {{ order.phone }}
                    <span class="order_status">current status: {{ order.status }}</span>
                {% endif %}
            </div>
            <div class="cart_table">
                <table>
                    <tbody>
                    {% for item in order.cart_history %}
                        <tr class="cart_item">
                            <td><a href="{% if item.partcode_id %}/partcode/
                                {{ item.partcode_id }}{% else %}/model/{{ item.model_id }}{% endif %}">{{ item.orders }}</a>
                            </td>
                            <td>{{ item.count }}</td>
                            <td>{% if lang == 'ru' %}Цена: <span>{{ item.price|d_mask }} &#x20bd;</span>
                            {% else %} Price: <span>${{ item.price|divide:currency|d_mask }} </span> {% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>{% if lang == 'ru' %}Итого: {% else %}Total: {% endif %}</td>
                        <td class="order_total">{% if lang == 'ru' %}{{ order.total|d_mask }}  &#x20bd;{% else %} ${{ order.total|divide:currency|d_mask }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endif %}

<div class="main_overlay"></div>
<div class="cart_order_modal">
    <span class="material-icons-outlined cart_modal_close">close</span>
    <div class="modal_inner">
        <div class="scrollbar-macosx">
            <div class="cart_items">
                {% for item in cart_items %}
                    <div class="cart_item">
                        <div>{{ item.2 }}</div>
                        <div>{{ item.3 }}</div>
                        <div>{% if lang == 'ru' %}Цена: <span>{{ item.4|d_mask }} &#x20bd;</span>
                        {% else %} Price: <span>${{ item.4|divide:currency|d_mask }} </span> {% endif %}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="cart_sum">{% if lang == 'ru' %}Итого: <span>{{ cart_summa|d_mask }} &#x20bd;</span>
        {% else %} Summa: <span>${{ cart_summa|divide:currency|d_mask }} </span> {% endif %}</div>
    </div>
    <div class="user_modal_data">
        <form action="" method="post" class="profile-form">
            <div>
                <label for="first_name">
                    <p>{% if lang == 'ru' %}Имя{% else %}First name{% endif %}:</p>
                    <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="First name"
                           id="first_name">
                </label>
            </div>
            <div>
                <label for="last_name">
                    <p>{% if lang == 'ru' %}Фамилия{% else %}Last name{% endif %}:</p>
                    <input type="text" name="last_name" value="{{ user.last_name }}" placeholder="Last name"
                           id="last_name">
                </label>
            </div>
            <div>
                <label for="email">
                    <p>{% if lang == 'ru' %}Email{% else %}Email{% endif %}:</p>
                    <input type="email" name="email" value="{{ user.email }}" placeholder="Email" id="email">
                </label>
            </div>
            <div>
                <label for="address">
                    <p>{% if lang == 'ru' %}Адрес{% else %}Address{% endif %}:</p>
                    <input type="text" name="address" value="{{ profile.1 }}" placeholder="Address" id="address">
                </label>
            </div>
            <div>
                <label for="phone">
                    <p>{% if lang == 'ru' %}Телефон{% else %}Phone{% endif %}:</p>
                    <input type="tel" name="phone" value="{{ profile.2 }}" placeholder="Phone" id="phone">
                </label>
            </div>
        </form>
    </div>
    <div class="modal_btn_block">
        <a class="btn btn-primary" id="cart_order">{% if lang == 'ru' %}Заказать{% else %}Order{% endif %}</a>
    </div>
</div>
{% block ajaxjs %}
    <script type="text/javascript">
        function cItemJqueryLoaded() {
            $cItem_script = "{% static 'cart.js' %}"
            $cart_items = "{{ cart_items }}"
            $.getScript($cItem_script)
        }

        function cItemCheckJquery() {
            if (window.jQuery) {
                cItemJqueryLoaded();
            } else {
                window.setTimeout(cItemCheckJquery, 100);
            }
        }

        cItemCheckJquery();
    </script>
{% endblock %}