{% extends 'base.html' %}

{% block content %}
    {% for index in sresult %}
        <p class="search_result">
            {% if index.3 == index.7 %}
                Модель: <strong><a href="/model/{{ index.2 }}">{{ index.7 }}</a></strong>
            {% else %}
                Деталь: <strong><a href="/detail/{{ index.2 }}">{{ index.3 }}</a></strong>
            {% endif %}
            <span class="search_result_partcode">
                {% if index.5 != None %}
                    &nbsp; Парткод: {{ index.5 }}
                {% endif %}
            </span><br>
            {% if index.3 != index.7 %}
                <span class="search_result_model">
                    Модель: {{ index.7 }}
                </span>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}

{% block title %}
    Part4
{% endblock %}