{% extends 'base.html' %}
{% load static el_pagination_tags %}

{% paginate entries %}
{% for entry in entries %}
    {% block content %}
        {% if cartridge_result %}
            {% for cartridge in cartridge_result %}
                <div class="cartridge_result">
                    <p>
                        <a href="{% if cartridge.0 %}/cartridge/{{ cartridge.0 }}{% endif %}" class="text-blue">
                            <span class="text-green pr-2">{{ cartridge.2 }}</span>
                            {% if cartridge.3 %}
                                {{ cartridge.3 }}
                            {% elif cartridge.4 %}
                                {{ cartridge.4 }}
                            {% endif %}
                            {% if cartridge.7 %}
                                {{ cartridge.7 }}
                            {% endif %}
                        </a>
                    </p>
                    <p>
                        {% if cartridge.6 %}
                            {{ cartridge.6 }}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        {% if error_result %}
            {% for index in error_result %}
                <div class="error_result">
                    <div class="image">
                        {% if index.7 %}
                            <img src="{{ index.7 }}">
                        {% endif %}
                    </div>
                    <div class="desc">
                        <p>
                            Ошибка: <strong><a href="/model/{{ index.0 }}" class="text-blue">{{ index.2 }}</a></strong>
                        </p>
                        <p>
                            Display: <strong>{{ index.3 }}</strong>
                        </p>
                        <p>
                            Description: <strong>{{ index.4 }}</strong>
                        </p>
                        <p>Causes: <strong>{{ index.5 }}</strong></p>
                        <p>Remedy: <strong>{{ index.6 }}</strong></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if all_result %}
            {% for index in all_result %}
                <div class="search_result">
                    <div class="image">
                        {% if index.11 and index.3 != index.7 %}
                            <img src="{{ MEDIA_URL }}images/{{ index.11 }}">
                        {% endif %}
                        {% if index.9 and index.3 == index.7 %}
                            <img src="{{ MEDIA_URL }}images/{{ index.11 }}">
                        {% endif %}
                    </div>
                    <div class="desc">
                        {% if index.3 == index.7 %}
                            Модель: <strong><a href="/model/{{ index.12 }}" class="text-blue">{{ index.7 }}</a></strong>
                        {% else %}
                            {% if index.4 or index.3 %}
                                Деталь: <strong><a href="/detail/{{ index.2 }}" class="text-blue">
                                {% if index.4 %}{{ index.4 }}{% elif index.3 %}{{ index.3 }}{% endif %}</a></strong>
                            {% endif %}
                        {% endif %}
                        <div class="search_result_partcode">
                            {% if index.5 != None %}
                                <span class="text-yellow">Парткод: {{ index.5 }}</span>
                            {% endif %}
                        </div>
                        {% if index.3 != index.7 %}
                            <span class="search_result_model text-light">
                                Модель: {{ index.7 }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        <div class="row">
            {% for brand in brands %}
                <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
                    <div class="card btn">
                        <a href="/brand/{{ brand.id }}">
                            <!--h5 class="text-center">{{ brand.name }}</h5-->
                            {% if brand.logotype is not None %}
                                <img src="{{ MEDIA_URL }}images/brands/{{ brand.logotype }}" class="img-fluid"
                                     alt="{{ brand.name }}">
                            {% else %}
                                <img src="{{ MEDIA_URL }}images/no-image.png" class="img-fluid" alt="{{ brand.name }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endfor %}
{% show_pages %}
{% block title %}
    Part4
{% endblock %}

{% block breadcrumbs %}

{% endblock %}