{% extends 'base.html' %}

{% block content %}
    {% for index in sresult %}
        <p>
            <a href="/detail/{{ index.2 }}">{{ index.3 }}</a>
            <span>
                {% if index.5 != None %}
                    &nbsp; Парткод: {{ index.5 }}
                {% endif %}
                {% if index.3 != None %}
                    &nbsp; Модель: {{ index.7 }}
                {% endif %}
            </span>
        </p>
    {% endfor %}
{% endblock %}

{% block title %}
    Part4
{% endblock %}