// Light colors
$placeholder_color: #CACDD6;
$bg_main: #F8F9FA;
$bg_section: #FFFFFF;
$text_base: #42445A;
$text_link: #2580F4;
$text_filter: #6A6778;
$text_filter_select: #2C293A;
$text_filter_h: #CACDD6;
$text_filter_h_hover: #F38E33;
$text_filter_h_active: #FFFFFF;
$bg_filter_h_active: #50599B;
$text_filter_input_check: #2C293A;
$border_filter_input: #CACDD6;
$bg_filter_input: #F8F9FA;
$bg_form_input: #FFFFFF;
