$yellow: #f2ba4b;
$orange: #e98839;
$red: #eb5c59;
$green: #78b857;
$blue: #2e79f6;
$white: #fdfdfd;
$light: #e9e9eb;
$grey: #898989;
$darkgrey: #3f3f45;
$dark: #323235;
$black: #262629;
/*
Colors
*/
.text-yellow {color: #f2ba4b !important;}
.text-orange {color: #e98839 !important;}
.text-red {color: #eb5c59 !important;}
.text-green {color: #78b857 !important;}
.text-blue {color: #2e79f6 !important;}
.text-light {color: #e9e9eb !important;}
.text-grey {color: #898989 !important;}
.text-dark {color: #323235 !important;}

.text-yellow:hover {color: #f2ba4b !important;}
.text-orange:hover {color: #e98839 !important;}
.text-red:hover {color: #eb5c59 !important;}
.text-green:hover {color: #78b857 !important;}
.text-blue:hover {color: #2e79f6 !important;}
.text-light:hover {color: #e9e9eb !important;}
.text-grey:hover {color: #898989 !important;}
.text-dark:hover {color: #323235 !important;}

.bg-yellow {background-color: #f2ba4b !important;}
.bg-orange {background-color: #e98839 !important;}
.bg-red {background-color: #eb5c59 !important;}
.bg-green {background-color: #78b857 !important;}
.bg-blue {background-color: #2e79f6 !important;}
.bg-light {background-color: #e9e9eb !important;}
.bg-grey {background-color: #898989 !important;}
.bg-dark {background-color: #323235 !important;}