// Dark colors
$placeholder_color: #6A6778;
$bg_main: #252330;
$bg_section: #2C293A;
$text_base: #42445A;
$text_link: #2580F4;
$text_filter: #CACDD6;
$text_filter_select: #E7EBFE;
$text_filter_h: #CACDD6;
$text_filter_h_hover: #F38E33;
$text_filter_h_active: #FFFFFF;
$bg_filter_h_active: #50599B;
$text_filter_input_check: #E7EBFE;
$border_filter_input: #252330;
$bg_filter_input: #42445A;
$bg_form_input: #42445A;