@import "colors";
.dark-theme {
    background-color: $dark;
    #toggle-theme {
        color: $dark;
        background-color: $light;
        border: 1px solid $orange;
    }
    #search_main {
        #button-search {
            background-color: $blue;
            color: $light;
        }
    }
    .filter_search {
        position: relative;
        #filter_search, #filter_search_clear {
            background-color: $white;
        }
    }
    .btn {
        color: $light;
        &:hover, &:focus {
            box-shadow: 0 0 5px 1px $orange;
            color: $light !important;
        }
    }
    .form-control {
        &:hover, &:focus {
            box-shadow: 0 0 5px 1px $orange;
        }
    }
    footer {
        color: $light !important;;
    }

    .navbar {
        background-color: $black;
        color: $light !important;;
        .navbar-brand {
            background-image: url("https://storage.yandexcloud.net/part4images/images/dark_logo_part4.png");
        }
        a {
            color: $light !important;
            &.active {
                color: $orange !important;;
            }
            &:hover, &:focus {
                color: $yellow !important;;
            }
        }
    }
    .nav-breadcrumb {
        background: $dark;
        ul {
            li {
                &:after {
                    border-color: $blue;
                }
                a {
                    color: $light !important;;
                    background: $dark !important;;
                    &:hover, &:focus {
                        color: $yellow !important;;
                    }
                }
                &.active {
                    color: $orange !important;;
                }
            }
        }
    }
    .filter {
        color: $light;
        .title {
            color: $light;
        }
        .filter_settings {
            background-color: $darkgrey;
            box-shadow: 0 0 5px 1px $darkgrey;
            .form-check {
                &.checkbox{
                    input {
                        &:before {
                            border-color: #898989;
                        }
                        &:checked:before {
                            background-color: #e98839;
                        }
                    }
                }
            }
            .btn-filter {
                &:hover {
                    box-shadow: 0 0 5px 1px $orange;
                }
            }
        }
    }
    .card {
        background-color: $white;
        color: $light;
        box-shadow: 0 0 5px 1px $grey;
        .card_image {
            background-color: $white;
            box-shadow: 0 0 5px 1px $grey;
        }
        &.card-model-list{
            .brand_model_title {
                color: $dark;
            }
        }
        &.card-model{
            background-color: $darkgrey;
            .model-title {
                color: $light;
            }
            .partcode {
                color: $yellow;
            }
        }
        &.card-detail{
            background-color: $darkgrey;
            .brand_model_title {
                color: $light;
            }
        }
        .nav-tabs {
            border-color: $black !important;
            .nav-link {
                color: $light !important;
                &:hover{
                    color: $yellow !important;
                }
                &.active {
                    color: $light !important;
                    background-color: $blue !important;
                }
            }
        }
        .table {
            color: $light;
            border-color: $black;
            thead {
                th {
                    border-color: $black;
                    color: $orange;
                    background-color: $dark;
                }
            }
            td {
                    border-color: $black;
                }
        }
        #parts {
            .part-name {
                color: $green;
            }
            .part-name {
                color: $green;
            }
            .module-name {
                &:hover{
                    color: $yellow;
                }
                &.active {
                    color: $orange;
                }
            }
        }
    }
    .error-list {
        background-color: $darkgrey;
        .errorcode {
           font-weight: bold;
            color: $red;
        }
        .display {
            font-weight: bold;
            color: $orange;
        }
        .description {
            font-weight: bold;
            color: $yellow;
        }
        .causes {
            font-weight: bold;
            color: $blue;
        }
        .remedy {
            font-weight: bold;
            color: $green;
        }
    }
    .module-title {
        &:hover {
            color: $yellow;
        }
    }
    .selected-module {
        font-weight: bold;
        color: $orange;
    }
}