@import "colors";

.dark-theme {
  background-color: $sapphire;
  color: $white-smoky;

  ::-webkit-input-placeholder, ::-moz-placeholder, ::-moz-placeholder, ::-ms-input-placeholder, ::placeholder {
    color: $blue_dark;
  }

  a {
    color: $blue_gray;
  }

  table {
    a {
      color: $blue;
    }
  }

  .header {
    .main_menu {
      color: $white_smoky;
      background-color: $pink_rich;
    }
  }

  .logo {
    color: $white-smoky;
    //background-image: url("https://storage.yandexcloud.net/part4images/images/part4_logo_dark_v2.svg");
    background-image: url("https://storage.yandexcloud.net/part4images/images/logo_4v2.svg");

    small {
      color: $blue_gray;
    }
  }

  #toggle-theme {
    background-color: $white_smoky;

    .toggle {
      background-color: $pink_rich;
      right: 3px;
    }

    .ico {
      left: 5px;
      background-image: url("https://storage.yandexcloud.net/part4images/images/sun_ico.png");
    }
  }

  #search_main {
    input {
      background-color: $anthracite;
      color: $blue_gray;
    }

    #button-search {
      color: $white_smoky;
      background-color: $blue;
    }
  }

  .brands {
    .brand {
      background-color: $white;

      label {

      }
    }
  }

  .filter {

    .filter_settings {
      color: $blue_gray;
      background-color: $anthracite;

      input[type='number'] {
        color: $blue;
      }

      .form-check {
        &.checkbox {
          label {
            &:before {
              background-image: url("https://storage.yandexcloud.net/part4images/images/checkbox.png");
            }

            &:hover:before, &.checked:before {
              background-image: url("https://storage.yandexcloud.net/part4images/images/check_ok.png");
            }
          }
        }
      }

      .radio {
        label {
          &:before {
            border: $blue_gray 1px solid;
            border-radius: 50%;
          }

          &:hover:before, &.checked:before {
            background-color: $lime;
          }
        }
      }
    }
  }

  .filter-result {
    color: $blue_gray;
    background-color: $anthracite;
  }

  .filter_search {
    &.is_filtered {
      box-shadow: 0 0 1px 2px $sapphire;
    }

    #filter_search {

    }
  }

  .card {
    filter: drop-shadow(0px 1px 3px rgba(255, 255, 255, 0.75));
  }

  .nav_tabs {
    a {
      background-color: $anthracite;
      color: $white_smoky;
      border: 1px solid $anthracite;

      &.active, &:hover {
        background-color: $cornflower;
        color: $white;
      }
    }
  }

  .supplies {
    color: $blue_gray;
    background-color: $anthracite;

    #cartridge_search {
      color: $blue_gray;
      box-shadow: 0 0 1px 2px $sapphire;
    }

    #cartridge_items {
      .row {
        &:hover {
          background: rgba(233, 59, 174, 0.1);
        }
      }
    }

    .btn_info {
      background-color: $blue_gray;
      color: $white;
    }
  }

  .card-model {
    color: $blue_gray;
    background-color: $anthracite;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

    .nav-tabs {
      border-bottom: 1px solid $blue_purple !important;
    }

    .card-head {
      .card-image {
        background-color: $white;
        box-shadow: 0 0 5px $white_smoky;
      }

      .rating {
        color: $blue;

        span {
          color: $pink_yellowish;
        }
      }
    }

    .nav-item {

      a {
        border: none;
        background-color: $sapphire;

        &.active {
          background-color: #5386FC;
          color: #FFFFFF;
        }
      }
    }
  }

  .detail, .cartridge, #supplies {
    h3 {
      color: $blue;

      small {
        color: $blue_gray;
      }
    }
    &.desc {
      td:first-child span {
        z-index: 2;
        background-color: $anthracite !important;
      }
    }
    table {
      td {
        color: $blue_gray;

        &:first-child {
          color: $grey;
        }
      }
    }

    .price {
      color: $grey;

      span {
        color: $magenta;
      }
    }
  }

  #options, .detail {
    color: $blue_gray;

    table {
      td {
        color: $blue_gray;

        &:first-child {
          position: relative;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            border-bottom: 1px dashed $blackberry;
            width: 100%;
            bottom: .6em;
            right: -10px;
            z-index: -1;
          }

          .capt {
            color: $blue_gray;
            z-index: 2;
            background-color: $anthracite !important;
          }
        }
      }
    }
  }

  #parts {
    h6 {
      color: $blue_dark
    }

    .module-title, .model-opts > div {
      &:hover {
        background-color: rgba(233, 59, 174, 0.1);
      }

      &.selected-module {
        color: $blue;
      }
    }

    .part-item {
      .part-item_img {
        background-color: $white;
      }
    }
  }

  #errors {
    .errors_search {
      background-color: $sapphire;
      color: $white_smoky;
    }

    .error-list {

    }

    .error-title {
      cursor: pointer;

      &:hover {
        background-color: rgba(233, 59, 174, 0.1);
      }

      &.active {
        color: $blue;
      }
    }

    .error-item {
      table {
        td:first-child {
          width: 1%;
          color: $grey;

          span {
            color: $blue_gray;
          }
        }

        td:last-child {
          padding: 0 0 5px 10px;

          span {
            color: $white_smoky;
          }
        }
      }
    }
  }

  #supplies, .supplies {
    table {
      tr {
        &:first-child td {
          color: $blue_dark;
        }

        &:not(:first-child):hover {
          background-color: rgba(233, 59, 174, 0.1);
        }
      }
    }

    .supp-title {
      background-color: $sapphire;
      color: $white_smoky;
    }

    .supplies-item {
      background-color: $anthracite;
      color: $blue;

      h6 {
        color: $blue_dark;
      }

      &.active {

        &:before {
          background: rgba(32, 33, 54, 0.75);
        }
      }
    }

    button {
      color: $white_smoky;
      background-color: $pink_yellowish;
    }
  }
}