.filter_partcodes {
  .brands {
    max-height: 60vh;
    div {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center right;
      margin: 0 10px 0 0;
    }
  }
}

.partcodes_wrap {
  padding-top: 1em;

  #partcode_table {

  }

  #partcode_items {
    max-height: calc(1000px);
    padding: 1.5em 0;
    display: grid;
    grid-gap: 1.5em;
  }

  .partcode_search {
    display: inline-flex;
    width: 100%;
    margin-bottom: 0.5em;

    input {
      background-color: var(--bg_main);
      width: 100%;
      font-size: 1.8em;
      padding: 0.2em 0.6em;
      border: 1px solid var(--text_base);
      border-radius: 0.3em;
      margin: 0 .5em .2em;
      color: var(--text_base);
    }
  }

  .partcodes {
    color: var(--text_filter);

    .line {
      display: grid;
      grid-template-columns: 30% 50% 20%;
    }
  }

  .partcodes-item {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: auto 1fr;
    margin: 1em;

    .partcode_image {
      display: flex;
      justify-content: center;
      align-self: center;
      height: 10em;
      width: 10em;
      background-color: var(--white);
      padding: 0.5em;
      border-radius: 0.5em;

      img {
        max-width: 100%;
      }
    }

    .partcode_desc {
      font-size: 1.4em;
      display: flex;
      flex-direction: column;

      .partcodes_code {
        font-size: 1.3em;
        padding: 0;
        position: relative;
        text-decoration: none;

        &:after {
          position: absolute;
          bottom: -0.34em;
          left: 0;
          width: calc(100% + 2em);
          content: '';
          border-bottom: 1px solid var(--text_base);
        }
      }

      h4 {
        font-size: 1.3em;
        font-weight: 400;
      }

      h4:nth-child(3) {
        font-size: 1.1em;
      }
    }

    .btn_info {
      cursor: pointer;
      margin: 0 0.5em;
      padding: 0;

      span {
        color: var(--accent);
      }
    }

    p {
      color: var(--placeholder_color);
      display: flex;
      align-items: center;
      margin: 0 0 0.8em 0;
    }

    a {
      padding: 0 0 0.5em 0;
    }
  }

  .partcodes-item_overlay {
    display: none;
    position: fixed;
    background-color: var(--bg_section);
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    z-index: 21;
    padding: 2em;

    &.active {
      display: grid;
      grid-template-rows: auto auto 1fr auto;
      grid-gap: 1em;
    }

    .supp-title {
      font-size: 2em;
      text-align: center;
    }

    h3 {
      font-size: 1.6em;
    }

    .partcodes-analogs {
      padding: 0 1em;

      a {
        font-size: 1.6em;
        line-height: 2em;
      }
    }

    button {
      color: var(--white);
      border: none;
      cursor: pointer;
      background: none;

      &:hover {
        box-shadow: 0 0 .25em .1em var(--accent);
      }
    }
  }
}

.partcode {
  display: grid;
  padding: 1em;
  color: var(--text_headers);

  .partcode_head {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 4em;

    .partcode_image {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 18em;
      height: 18em;
      background-color: var(--white);
      padding: 1em;
      border-radius: 0.8em;
    }

    .title {
      font-size: 2.4em;
      font-weight: 600;
      color: var(--text_headers);
    }
    .title_desc {
      padding: 1em 0 0 0;
      font-size: 1.4em;
    }
  }

  .price {
    font-size: 1.6em;
    padding: 0 0 0 .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
        color: var(--accent);
        padding: 0 .2em;
    }
  }
  .partcode_content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2em;
    padding: 2em 0;
    h4 {
      font-size: 1.4em;
      color: var(--input-text);
      line-height: 3em;
    }
    .partcode_content_inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: .5em;
      padding: 1em 0;
      .models-inner {
        padding: 1em;
      }
      button {
        line-height: 2em;
      }
      a {
        font-size: 1.6em;
      }
    }
  }
}

@media screen and (max-width: 640px){
  .partcode {
    .partcode_head {
      .partcode_image {
        width: 12em;
        height: 12em;
      }
    }
    .partcode_content {
      grid-template-columns: auto;
      grid-gap: 1em;
    }
  }
}