a {
  color: #438ed7 !important;
  &:hover {
    color: #2e79f6 !important;;
  }
}

@import "dark";
@import "light";

body {
  font-family: -apple-system, BlinkMacSystemFont, "GT Walsheim Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hidden {
  visibility: hidden;
}
.hide {
  display: none !important;
}
#toggle-theme {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.4em;
  border-radius: 50%;
  cursor: pointer;
}

#search_main {
  position: relative;

  input {
    border-radius: 6px;
  }

  #button-search {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 3;
  }
}

.filter_search {
  position: relative;

  #filter_search {
    background-color: $white;
    border: none;
    border-radius: 6px;
  }

  #filter_search_clear {
    padding: .3rem .7rem;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    cursor: pointer;
    background-color: $white;
    border: none;
    z-index: 999;
  }
}

.navbar {
  margin-bottom: 1em;

  .navbar-brand {
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
  }

  .auth-block {
    padding-right: 80px;
  }
}

.nav-breadcrumb {
  ul {
    list-style: none;
    padding: 0 15px;

    li {
      float: left;
      position: relative;
      padding: 0 0.2em 0 0;

      &:after {
        content: '';
        position: absolute;
        transform: rotate(45deg);
        width: 1.2em;
        height: 1.2em;
        top: 0.4em;
        right: 0.8em;
        border: 1px solid;
      }

      &:last-child:after {
        display: none;
      }

      a {
        float: left;
        position: relative;
        padding: 0 0.4em 0 0;
        margin-right: 0.8em;
        line-height: 2em;
        z-index: 2;

        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        line-height: 2em;
      }
    }
  }
}

.filter {
  .filter_settings {
    padding: 2px;
    max-height: 100vh;
    overflow-y: scroll;
    padding-right: 1em;

    .form-group {
      margin-bottom: 0;
    }

    .form-check {
      .radio {
        width: 48%;
        margin-right: 2%;
        float: left;
      }

      &.checkbox {
        label {
          cursor: pointer;
          position: relative;
          padding-left: 1.2em;
        }

        input {
          position: relative;
          width: 0;

          &:before {
            content: '';
            border: 1px solid $grey;
            width: 1em;
            height: 1em;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .input_num {
      width: 90px;

      input {
        text-align: center;
        padding: .375rem;
      }
    }

    .btn-filter {
      &:hover {
        box-shadow: 0 0 5px 1px $orange;
      }
    }
  }
}

#cartridge_items {
  height: 1000px;
  margin: 0;
  padding: 0 15px;
}
.cartridges {
  .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.card-model-list {
  height: 1000px;
  margin: 0;
  padding: 0 15px;
}

.card {
  padding: 0.4em 0.4em;

  .card_image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  &.card-model-item {
    padding: 0.1em 0.5em;

    .brand_model_title {
      font-size: 14px;
      height: 45px;
      line-height: 15px;
      overflow: hidden;
      position: absolute;
      bottom: -45px;
      width: 100%;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.card-model {
    .brand_model_title {
      height: 2.4em;
      overflow: hidden;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .name {
      color: $green;
    }
  }

  &.card-detail {
    .brand_model_title {
      height: 2.4em;
      overflow: hidden;
    }
  }

  .nav-tabs {
    .nav-link {
      border: none;

      &:hover {
        border: none;
      }

      &.active {
        border: none;
      }
    }
  }

  #parts {
    .module-name {
      cursor: pointer;

      &:hover {
        border: none;
      }

      &.active {
        line-height: 2em;
      }
    }
  }
}

#accordion {
  width: 100%;
}

.error-list {
  width: 100%;
  padding: 0;

  .card-header {
    padding: 0;

    .btn {
      width: 100%;
      text-align: left;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

.form-control:focus {
  color: $grey;
  background-color: $white;
  border: none;
  outline: 0;
}

h1 {
  color: $gwhite;
  text-align: center;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.brand_model_card {
  box-shadow: 0px 0px 3px 0px $blue;
  padding: 0.2em 0.4em;
  height: 266px;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 4px 0px $blue;
  }
}

.brand_model_link {
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3em;
}

.brand_model_title {
  text-align: center;
}

.error_result, .search_result {
  padding-bottom: 15px;
  color: $white;
}

.error_result, .search_result {
  display: flex;
  flex-direction: row;

  .image {
    max-width: 100px;

    img {
      width: auto;
      max-width: 100%;
    }
  }

  .desc {
    padding-left: 10px;
    flex-shrink: 2;
    width: 100%;
  }
}

.search_result {

}

.search_result_model {
  color: $blue;
}

.search_result_partcode {
  color: $blue;
  font-style: oblique;
}

.scroll-wrapper {
  width: 100%;
}

.tab-inner-scroll {
  max-height: 400px;
}

.module-title {
  cursor: pointer;
}

.model-opts {
  display: flex;
  flex-direction: column;
}

.carousel-indicators {
  margin-bottom: -7%;

  li {
    border-top: 5px solid $blue;
    background-color: transparent;
  }
}

.breadcrumb-item {
  & + .breadcrumb-item {
    padding-left: 1rem;
  }

  a {
    font-size: 1em;
    line-height: 1.5em;
  }

  &:hover {
    text-decoration: none;
  }
}

.capt {
  width: 45%;
  display: inline-block;
}

.cartridge_options {
  td:first-child {
    width: 45%;
  }
}
.cartridges {
  tr {
    border-bottom: 1px solid #495057;
  }
  td {
    color: $gwhite;
    border: none;
    vertical-align: top;
    padding: 8px 0;
  }
}
.cartridge {
  color: $gwhite;
  .cartridge_item {
    padding-right: 1em;
    white-space: nowrap;
    line-height: 1.6em;
    display: inline-block;
  }
}
.btn-collapse {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
#load_more {
  color: $gwhite;
  text-align: center;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#to_up {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  &.visible {
    display: block;
  }
}
.tab_controls {
  display: none;
  a {
    color: $yellow !important;
    border: 1px solid;
    margin: 10px 0;
    &.active {
      font-weight: 600;
      background-color: $yellow !important;
      color: $gwhite !important;
    }
  }
}
#filter_model {
  button:disabled, button[disabled] {
    cursor: auto;
    &:hover {
      box-shadow: none;
    }
  }
}
@media screen and (max-width: 1000px) {
  .main-content {
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  #filter_model {
    margin-bottom: 20px;
    height: 2em;
    transition: height 0.15s ease-out;
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 15px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $yellow;
      border-bottom: none;
      z-index: -1;
    }
    &.show {
      transition: height 0.25s ease-in;
      height: 800px;
      &:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 15px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $yellow;
        border-top: none;
      }
    }
    .filter .filter_settings {
      max-height: 700px;
    }
    #filter-title {
      cursor: pointer;
      color: $yellow;
    }
  }
}

@media screen and (max-width: 600px) {
  .cartridges {
    margin: 0 -15px;
    width: calc(100% + 30px);
    word-break: break-word;
  }
  h3 {
    padding: 15px 0;
  }
  .tab_controls {
    display: block;
  }
  #detailTabs {
    display: none;
  }
  #filter_model {
    padding-bottom: 20px;
  }
  .filter {
    .filter_settings { max-height: 400px}
  }
  .card {
    &.card-model {
      h3 {
        text-align: center;
      }
      .model-title {
        text-align: center;
      }
    }
  }
}