{% extends 'base.html' %}
{% load static brand_extras %}
{% block title %}
    {{ brand_name }}
{% endblock %}
{% block description %}
    <meta name="description" content="Каталог моделей {{ brand_name }}, характеристики, парт каталог, коды ошибок, расходные материалы, картриджи">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="характеристики, коды ошибок, принтеров, мфу, part, парт каталог, картриджи, картриджи для принтера, картриджи для принтеров, расходные материалы для оргтехники">
{% endblock %}

{% block content %}
    <div class="row">
        <div id="filter_model" class="col-md-3 col-12">
            {% include 'filter/filter.html' %}
        </div>
        <div class="col-md-9 col-12">
            {#Search#}
            <div class="row">
                <div class="col-12">
                    <div class="input-group w-100 filter_search">
                        <input type="text" id="filter_search" name="filter_search" aria-label="Close"
                               class="form-control filter_search" placeholder="Поиск по модели">
                        <span class="input-group-text" aria-hidden="true" id="filter_search_clear"> &times; </span>
                    </div>
                </div>
            </div>
            {#Search end#}
            <div class="scrollbar-macosx mt-2">
                <div id="filter_model_result">
                    {% include 'filter/filter_result.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/brands">Бренды</a></li>
                    <li class="nav-breadcrumb-item active">{{ brand_name }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}