{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ brand_name }}
{% endblock %}

{% block content %}
    <h3>Модели (всего {{ model_count.0.0 }}):</h3>
    <div class="row">
        <div class="col-3">
            <h4>Фильтр:</h4>
            <form class="filter_settings" method="post" action="">
                {% csrf_token %}
                {% for caption in filter_captions %}
                    <h5>{{ caption }}</h5>
                    {% for filter in sfilter %}
                        {% if filter.caption == caption %}
                            <div class="pl-2 pb-3">
                                <h6>{{ filter.subcaption }}</h6>
                                {% if filter.type == 'checkbox' %}
                                    {% for fval in filter.values %}
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" name="{{ filter.sub_id }}" id="{{ fval.id }}" value="{{ fval.id }}">
                                            <label class="form-check-label" for="{{ fval.id }}">{{ fval.val }}</label>
                                          </div>
                                    {% endfor %}
                                {% endif %}
                                {% if filter.type == 'radio' %}
                                    {% for fval in filter.values %}
                                        <div class="form-group form-check">
                                            <input type="radio" class="form-check-input" name="{{ filter.sub_id }}" id="{{ fval.id }}" value="{{ fval.id }}">
                                            <label class="form-check-label" for="{{ fval.id }}">
                                                {% if fval.val == '+' %} есть {% endif %}
                                                {% if fval.val == '-' %} нет {% endif %}
                                            </label>
                                          </div>
                                    {% endfor %}
                                {% endif %}
                                {% if filter.type == 'range' %}
                                    <div class="form-row">
                                        <div class="input_num">
                                            <input type="number" class="form-control" name="{{ filter.sub_id }}"
                                                   id="{{ filter.sub_id }}" value="{{ filter.values.0.min }}"
                                                   min="{{ filter.values.0.min }}" max="{{ filter.values.1.max }}"
                                                   required>
                                        </div>
                                        <div class="input_num">
                                            <input type="number" class="form-control" name="{{ filter.sub_id }}"
                                                   id="{{ filter.sub_id }}" value="{{ filter.values.1.max }}"
                                                   min="{{ filter.values.0.min }}" max="{{ filter.values.1.max }}"
                                                   required>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-filter">Применить</button>
            </form>
        </div>
        <div class="col">
            <div class="row">
                {% for model in brand_models %}
                    <div class="col-lg-3 col-md-3 col-sm-4 p-3">
                        <div class="brand_model_card">
                            <a href="/model/{{ model.0 }}" class="brand_model_link" style="background-image:
                                    url('{% if model.4 is not None %}{% static '/image/' %}{{ model.4|cut:';' }}{% else %}{% static '/image/no-image.jpg' %}{% endif %}')">
                            </a>
                            <h6 class="brand_model_title">{{ model.2 }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <nav class="p-4">
                  <ul class="pagination">
                      {% for i in pages %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i|add:1 }}</a></li>
                      {% endfor %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/brand/brands">Все бренды</a></li>
            <li class="breadcrumb-item active">{{ brand_name }}</li>
        </ol>
    </nav>
{% endblock %}