{% extends 'base.html' %}
{% load static brand_extras %}
{% block title %}
    {{ brand_name }}
{% endblock %}


{% block content %}
    <div class="row">
        <div id="filter_model" class="col-3">
            {% include 'filter/filter.html' %}
        </div>
        <div class="col-9">
            <div id="filter_model_result">
                <div class="scrollbar-macosx mt-2">
                    {% include 'filter/filter_result.html' %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/brands">Бренды</a></li>
                    <li class="nav-breadcrumb-item active">{{ brand_name }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}