{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }} - {{ cartridge.1 }}
{% endblock %}
{% block description %}
    <meta name="description"
          content="Картридж для {{ brand }}, {{ cartridge.2 }}, Код производителя: {{ cartridge.1 }},  Наименование: {{ cartridge.3 }}">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="


            {% if cartridge.4 %}{% for model in cartridge.4 %}{% if model.0 and model.0 != 'None' %}{{ model.1 }}, {% endif %}{% endfor %}{% endif %}">
{% endblock %}
{% block content %}
    {% if cartridge %}
        <div class="card-model cartridge">
            <div class="card-head">
                <div class="row">
                    <div class="col-auto">
                        <div class="card-image">
                            {% if partcodes.images %}
                                <img src="{{ MEDIA_URL }}{{ partcodes.images }}"/>
                            {% else %}
                                <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;"/>
                            {% endif %}
                        </div>
                        {% if prices %}
                            {% for price in prices %}
                                <div class="price">
                                    {% if lang == 'ru' %}Ориентировочная цена
                                    {% else %}Estimated price{% endif %}: <span>{{ price.1 }}</span></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col">
                        <h3 class="title">
                            {% if cartridge.2 %}{{ cartridge.2 }}
                                {% elif cartridge.3 %}{{ cartridge.3 }}
                            {% endif %}
                        </h3>
                        <div class="table-responsive">
                            <table>
                                {% if partcodes.code and partcodes.code != '-' %}
                                    <tr>
                                        <td class="first"><span class="capt">{% if lang == 'ru' %}Код производителя{% else %} Part
                                            code {% endif %}</span></td>
                                        <td>{{ cartridge.1 }}</td>
                                    </tr>
                                {% endif %}
                                {% if cartridge.4 and cartridge.4.0.0 %}
                                    <tr>
                                        <td>
                                            <span class="capt">{% if lang == 'ru' %}Совместимые модели {% else %} Compatible models{% endif %}</span>
                                        </td>
                                        <td>
                                            {% for model in cartridge.4 %}
                                                {% if model.0 and model.0 != 'None' %}
                                                    <a href="/model/{{ model.0 }}">{{ model.1 }}</a><br>
                                                {% endif %}
                                            {% endfor %}
                                            {% if amodels|length > 0 %}
                                                {% for model in amodels %}
                                                    {% if model.0 and model.0 != 'None' %}
                                                        {{ model }} <br>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="py-2">
                        {% if options and options|length > 0 or cartridge_options|length > 0 %}
                            <div class="nav nav-tabs">
                                <div class="nav-item">
                                    <a class="nav-link active" href="#">
                                        {% if lang == 'ru' %}Характеристики{% else %}Technical Specifications{% endif %}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="tab-content">
                            {% if options and options|length > 0 %}
                                <div class="table-responsive cartridges">
                                    <table class="table">
                                        {% for option in options %}
                                            <tr>
                                                <td class="px-2"><span class="capt">{{ option.2 }}</span></td>
                                                <td class="px-3">{{ option.3 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/cartridge/">{{ title }}</a></li>
                    {% if brand and brand_id %}
                        <li class="nav-breadcrumb-item"><a href="/cartridge/cartridges/{{ brand_id }}">{{ brand }}</a>
                        </li>
                    {% endif %}
                    {% if cartridge %}
                        <li class="breadcrumb-item active">{{ cartridge.1 }}</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block ajaxjs %}
    <script type="text/javascript">
        function jqueryLoaded() {
            $ajax_script = "{% static 'cartridge.js' %}"
            $.getScript($ajax_script)
        }

        function checkJquery() {
            if (window.jQuery) {
                jqueryLoaded();
            } else {
                window.setTimeout(checkJquery, 100);
            }
        }

        checkJquery();
    </script>
    {#    <script src="{% static 'model_ajax.js' %}"></script>#}
{% endblock %}