{% load static %}
<div class="p-3 w-100">
    <input type="text" id="cartridge_search" placeholder="найти картридж" class="form-control">
</div>
<div class="table-responsive cartridges">
    <div class="row text-grey">
        <div class="col-3">Код производителя</div>
        <div class="col-5">Наименование</div>
        <div class="col-4">Совместим с моделями</div>
    </div>
    <div class="scrollbar-macosx mt-2">
        <div id="cartridge_table">
            <div id="cartridge_items"></div>
            <div id="load_more"></div>
        </div>
    </div>
</div>


{% block ajaxjs %}
    <script type="text/javascript">
        function jqueryLoaded() {
            $cartridges = "{{ cartridges }}"
            $media_url = "{{ MEDIA_URL }}"
            $ajax_script = "{% static 'cartridge_ajax.js' %}"
            $.getScript($ajax_script)
        }

        function checkJquery() {
            if (window.jQuery) {
                jqueryLoaded();
            } else {
                window.setTimeout(checkJquery, 100);
            }
        }

        checkJquery();
    </script>
    {#    <script src="{% static 'model_ajax.js' %}"></script>#}
{% endblock %}