{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block description %}
    <meta name="description" content="Каталоги картриджей Brother, Canon, Dell, Epson, HP, IBM, Konica Minolta, Kyocera Mita, Lexmark, OKI, Olivetti, Panasonic, Philips, Ricoh, Samsung, Sharp, Toshiba, Xerox">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="каталог картриджей, расходные материалы для оргтехники, картридж, картриджи, картриджи для принтеров, картридж для принтера">
{% endblock %}
{% block content %}
    <div class="row">
        {% for brand in brands %}
            <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
                <div class="card btn">
                    <a href="/cartridge/cartridges/{{ brand.id }}">
                        <!--h5 class="text-center">{{ brand.name }}</h5-->
                        {% if brand.logotype is not None %}
                            <img src="{{ MEDIA_URL }}brands/{{ brand.logotype }}" class="img-fluid"
                                 alt="{{ brand.name }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ brand.name }}">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}