{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block description %}
    <meta name="description" content="Каталоги картриджей Brother, Canon, Dell, Epson, HP, IBM, Konica Minolta, Kyocera Mita, Lexmark, OKI, Olivetti, Panasonic, Philips, Ricoh, Samsung, Sharp, Toshiba, Xerox">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="каталог картриджей, расходные материалы для оргтехники, картридж, картриджи, картриджи для принтеров, картридж для принтера">
{% endblock %}
{% block content %}
    <div class="container nav_tabs">
        <a href="/">Модели</a>
        <a href="/cartridge/" class="active">Расходные материалы</a>
    </div>
    <div class="scrollbar-macosx">
        <div class="brands">
            {% csrf_token %}
            {% for brand in brands %}
                <div class="brand hover_btn">
                    <label for="{{ brand.name }}" {% if brand.logotype is not None %}
                           style="background-image: url('{{ MEDIA_URL }}brands/{{ brand.logotype }}')"
                    {% else %}
                           style="background-image: url('{{ MEDIA_URL }}no-image.png')">
                    {% endif %}>
                    <input type="checkbox" id="{{ brand.name }}" name="{{ brand.id }}" value="{{ brand.id }}">
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-3 supplies">
        {% include 'cartridge/cartridges.html' %}
    </div>
{% endblock %}
