{% load static %}
{% for cartridge in cartridges %}
    <tr>
        <td>
            <a href="/supplies/{{ cartridge.0 }}" class="text-yellow">{{ cartridge.1 }}</a>
        </td>
        <td>
            <span class="text-green">{% if cartridge.2 %}{{ cartridge.2 }}{% elif cartridge.3 %}{{ cartridge.3 }}{% endif %}</span>
        </td>
        <td style="width: 30%;">
            <div class="accordion">
                <a class="btn-collapse text-grey" data-toggle="collapse"
                        data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter0 }}">
                  Показать модели
                </a>
                <div class="collapse" id="collapse{{ forloop.counter0 }}">
                    <div class="text-white">
                        {% if cartridge.4 %}
                            {% for item in cartridge.4 %}
                                {{ item }}<br>
                            {% endfor %}
                        {% endif %}
                        {% if cartridge.8 %}
                            {% for item in cartridge.8 %}
                                {{ item }}<br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
<div id="load_more">Загрузка ...</div>
<script>
    $('.collapse').collapse()
</script>