{% extends 'base.html' %}
{% load static main_extras %}
{% block title %}
    {% if lang == 'ru' %}{{ title }}{% else %}Consumables{% endif %} - {{ supplie.1 }}
{% endblock %}
{% block description %}
    <meta name="description"
          content="Картридж для {{ brand }}, {{ supplie.2 }}, Код производителя: {{ supplie.1 }},  Наименование: {{ supplie.3 }}">
{% endblock %}
{% block keyword %}
    <meta name="keyword" content="
            {% if supplie.4 %}{% for model in supplie.4 %}{% if model.0 and model.0 != 'None' %}{{ model.1 }}, {% endif %}{% endfor %}{% endif %}">
{% endblock %}
{% block content %}
    {% if supplie %}
        <div class="card-model supplie">
            <div class="card-head">
                <div class="row">
                    <div class="col-sm-auto col-12">
                        <div class="card-image">
                            {% if partcodes.images %}
                                <img src="{{ MEDIA_URL }}{{ partcodes.images }}"/>
                            {% else %}
                                <img src="{{ MEDIA_URL }}no_image.svg" style="width: 100%;"/>
                            {% endif %}
                        </div>
                        {% if prices %}
                            {% for price in prices %}
                                <div class="price">
                                    {% if lang == 'ru' %}Ориентировочная цена
                                    {% else %}Estimated price{% endif %}: <span>{{ price.1 }}</span></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm col-12">
                        <h3 class="title">
                            {% if supplie.2 %}{{ supplie.2 }}
                                {% elif supplie.3 %}{{ supplie.3 }}
                            {% endif %}
                        </h3>
                        <div class="container-fluid table-tech">
                            {% if partcodes.code and partcodes.code != '-' %}
                                <div class="row">
                                    <div class="col-md-4 col-12 first">
                                        <span class="capt">{% if lang == 'ru' %}Код производителя{% else %} Part
                                        code {% endif %}</span></div>
                                    <div class="col-md-7 offset-md-1 offset-1 col-11">{{ supplie.1 }}</div>
                                </div>
                            {% endif %}
                            {% if supplie.4 and supplie.4.0.0 %}
                                <div class="row">
                                    <div class="col-md-4 col-12 ">
                                        <span class="capt">{% if lang == 'ru' %}Совместимые модели {% else %} Compatible models{% endif %}</span>
                                    </div>
                                    <div class="col-md-7 offset-md-1 offset-1 col-11">
                                        {% for model in supplie.4 %}
                                            {% if model.0 and model.0 != 'None' %}
                                                <a href="/model/{{ model.0 }}">{{ model.1 }}</a><br>
                                            {% endif %}
                                        {% endfor %}
                                        {% if amodels|length > 0 %}
                                            {% for model in amodels %}
                                                {% if model.0 and model.0 != 'None' %}
                                                    {{ model }} <br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if price %}
                    <div class="row">
                        <div class="col-auto">
                            <div class="price">
                                {% if lang == 'ru' %}Ориентировочная цена
                                {% else %}Estimated price{% endif %}: <span>{{ price|d_mask }} &#x20bd;</span>
                                <!--small>({{ vendor }})</small-->
                            </div>
                        </div>
                        <div class="col pt-2">
                            <button class="btn hover_btn" id="btn-buy">
                                {% if lang == 'ru' %}Купить{% else %}Buy{% endif %}
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="py-2">
                        {% if options and options|length > 0 or supplie_options|length > 0 %}
                            <div class="nav nav-tabs">
                                <div class="nav-item">
                                    <a class="nav-link active" href="#">
                                        {% if lang == 'ru' %}Характеристики{% else %}Specifications{% endif %}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="tab-content">
                            {% if options and options|length > 0 %}
                                <div class="container-fluid supplies">
                                    {% for option in options %}
                                        <div class="row border-bottom">
                                            <div class="col-md-4 col-12"><span class="capt">{{ option.2 }}</span></div>
                                            <div class="col-md-7 offset-md-1 offset-1 col-11">
                                                {% if 'http' in option.3 %}
                                                    <a href="{{ option.3 }}">{{ option.3 }}</a>
                                                {% elif 'www' in option.3 %}
                                                    <a href="http://{{ option.3 }}">{{ option.3 }}</a>
                                                {% else %}{{ option.3 }}{% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">{% if lang == 'ru' %}Главная{% else %}Main{% endif %}</a></li>
                    <li class="nav-breadcrumb-item"><a href="/supplies/">
                        {% if lang == 'ru' %}{{ title }}{% else %}Consumables{% endif %}</a></li>
                    {% if supplie %}
                        <li class="breadcrumb-item active">{% if supplie.2 %}{{ supplie.2 }}
                                {% elif supplie.3 %}{{ supplie.3 }}
                            {% endif %} ({{ supplie.1 }})</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% include 'modals/contact.html' %}
{% endblock %}

{% block ajaxjs %}
    <script type="text/javascript">
        function jqueryLoaded() {
            $ajax_script = "{% static 'supplies.js' %}"
            $.getScript($ajax_script)
        }

        function checkJquery() {
            if (window.jQuery) {
                jqueryLoaded();
            } else {
                window.setTimeout(checkJquery, 100);
            }
        }

        checkJquery();
    </script>
    {#    <script src="{% static 'model_ajax.js' %}"></script>#}
{% endblock %}