{% load static %}
<div class="p-3 w-100">
    <input type="text" id="supplie_search" class="form-control hover_btn"
           placeholder="{% if lang == 'ru' %}найти картридж{% else %}find cartridge{% endif %}">
</div>
<div class="table-responsive supplies">
    <div class="row line">
        <div class="col-3"><span class="title">
            {% if lang == 'ru' %}Код производителя{% else %}Manufacturer's code{% endif %}</span></div>
        <div class="col-5"><span class="title">
            {% if lang == 'ru' %}Наименование{% else %}Title{% endif %}</span></div>
        <div class="col-4"><span class="title">
            {% if lang == 'ru' %}Совместим с моделями{% else %}Models compatible{% endif %}</span></div>
    </div>
    <div class="scrollbar-macosx">
        <div id="supplie_table">
            <div id="supplie_items"></div>
            <div id="load_more"></div>
        </div>
    </div>
</div>


{% block ajaxjs %}
    <script type="text/javascript">
        function SupplieJqueryLoaded() {
            $supplies = "{{ supplies }}"
            $media_url = "{{ MEDIA_URL }}"
            $ajax_script = "{% static 'supplie_ajax.js' %}"
            $.getScript($ajax_script)
        }

        function SupplieCheckJquery() {
            if (window.jQuery) {
                SupplieJqueryLoaded();
            } else {
                window.setTimeout(SupplieCheckJquery, 100);
            }
        }

        SupplieCheckJquery();
    </script>
    {#    <script src="{% static 'model_ajax.js' %}"></script>#}
{% endblock %}