{% load static mfilters %}
<div class="table-responsive cartridges">
    <table class="table">
        {% for cartridge in cartridges %}
            <tr>
                <td class="pl-3">
                    <a href="/cartridge/{{ cartridge.0 }}">{{ cartridge.1 }}</a>
                </td>
                <td class="pl-3">
                <span class="text-green">{% if cartridge.2 %}
                    {{ cartridge.2 }}{% elif cartridge.3 %}
                    {{ cartridge.3 }}{% endif %}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>