{% load static mfilters %}
<div class="container">
    {#    <div class="p-3">#}
    {#        <input type="text" id="errors_search" placeholder="найти ошибку по коду" class="form-control">#}
    {#    </div>#}
    <div class="row">
        {% if verrors is not None %}
            <div class="col-md-3 col-12">
                <h6>{% if lang == 'ru' %}Коды ошибок{% else %}Error codes{% endif %}</h6>
                <input type="text" id="errors_search" class="errors_search"
                   placeholder="{% if lang == 'ru' %}Поиск по кодам ошибок{% else %}Search by error codes{% endif %}">
                <div class="scrollbar-macosx">
                    <div class="error-list">
                        {% for error in verrors %}
                            <div class="error-title" data-target="#error{{ forloop.counter }}"
                                 onclick="$('.error-title').removeClass('active');
                                         $(this).addClass('active');
                                         $( '.error-item' ).css('display', 'none');
                                         $( '#error{{ forloop.counter }}' ).toggle();">
                                <span class="errorcode"> {{ error.2 }} </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <h6>{% if lang == 'ru' %}Описание{% else %}Description{% endif %}</h6>
                <div class="scrollbar-macosx">
                    <div class="error-body">
                        {% for error in verrors %}
                            <div class="error-item" id="error{{ forloop.counter }}" style="display: none;">
                                <div class="table-responsive">
                                    <table>
                                        <tr><td><span>Error code:</span></td><td><span>{{ error.2 }}</span></td></tr>
                                        {% if error.3 %}
                                        <tr><td>Display:</td><td>{{ error.3 }}</td></tr>
                                        {% endif %}
                                        {% if error.4 %}
                                        <tr><td>Description:</td><td>{{ error.4 }}</td></tr>
                                        {% endif %}
                                        {% if error.5 %}
                                        <tr><td>Causes:</td><td>{{ error.5 }}</td></tr>
                                        {% endif %}
                                        {% if error.6 %}
                                        <tr><td>Remedy:</td><td>{{ error.6 }}</td></tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% block ajaxjs %}
        <script type="text/javascript">
            function jqueryLoaded() {
                $errors = "{{ verrors }}"
                $media_url = "{{ MEDIA_URL }}"
                $errors_script = "{% static 'model_errors.js' %}"
                $.getScript($errors_script)
            }
            function checkJquery() {
                if (window.jQuery) {
                    jqueryLoaded();
                } else {
                    window.setTimeout(checkJquery, 100);
                }
            }
            checkJquery();
        </script>
{% endblock %}