{% extends 'base.html' %}
{% load static mfilters %}
{% block title %}
    {{ model_name }}
{% endblock %}
{% block description %}
    <meta name="description"
          content="
          {% for caption in captions %}
              {% for subcaption in subcaptions %}
                    {% if subcaption.2 == caption %}
                        {% for subcap in subcaption.3 %}
                            {% if '' != subcap|get_val and '-' not in subcap|get_val and '+' not in subcap|get_val %}
                                {{ subcap }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
          ">
{% endblock %}
{% block keyword %}
    <meta name="keyword"
          content="{{ brand_name }}, {{ model_name }}, характеристики, коды ошибок, part, парт каталог, картридж, расходные материалы, ремкомплект, сервисный комплект, KIT">
{% endblock %}
{% block content %}
    <div class="card-model">
        <div class="card-head">
            <div class="row">
                <div class="col-auto">
                    <div class="card-image">
                        {% if model_main_image %}
                            <img src="{{ MEDIA_URL }}{{ model_main_image }}" alt="{{ model_name }}"/>
                        {% elif model_images|length > 0 and model_images.0 != '' %}
                            <img src="{{ MEDIA_URL }}{{ model_images.0 }}" alt="{{ model_name }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}no_image.svg" alt="{{ model_name }}" style="width: 100%;"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <h3><span class="model-title"> {{ model_name }}</span></h3>
                    <div class="rating">
                        Рейтинг <div class="stars">
                                    <img src="{{ MEDIA_URL }}icons/star.svg">
                                    <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                    <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                    <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                    <img src="{{ MEDIA_URL }}icons/star_o.svg">
                                </div>
                        {% if model_status.1 %}
                            <span>{{ model_status.1 }}</span>
                        {% endif %}
                    </div>
                    {% for caption in captions %}
                        {% if 'Status' in caption %}
                            <h5><span class="partcode"> {{ caption|cut:'Status: ' }} </span></h5>
                        {% endif %}
                    {% endfor %}
                    <div class="table-responsive detail desc">
                        <table>
                            {% if type_of_device.0 %}
                                <tr><td><span>{{ type_of_device.0 }}</span></td><td>{{ type_of_device.1 }}</td></tr>
                            {% endif %}
                            {% if technology.0 %}
                                <tr><td><span>{{ technology.0 }}</span></td><td>{{ technology.1 }}</td></tr>
                            {% endif %}
                            {% if max_format.0 %}
                                <tr><td><span>{{ max_format.0 }}</span></td><td>{{ max_format.1 }}</td></tr>
                            {% endif %}
                            {% if pages_per_month.0 %}
                                <tr><td><span>{{ pages_per_month.0 }}</span></td><td>{{ pages_per_month.1 }}</td></tr>
                            {% endif %}
                            {% if speed.0 %}
                                <tr><td><span>{{ speed.0 }}</span></td><td>{{ speed.1 }}</td></tr>
                            {% endif %}
                            {% if output_type.0 %}
                                <tr><td><span>{{ output_type.0 }}</span></td><td>{{ output_type.1 }}</td></tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12">
                <div class="py-2">
                    <ul class="nav nav-tabs" id="detailTabs" role="tablist">
                        {% if subcaptions|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link {% if tab == 'options' %} active {% endif %}"
                                   id="options-tab"
                                   data-toggle="tab" role="tab"
                                   href="#options"
                                   aria-controls="options"
                                   aria-selected="{% if cur_module is None and tab == 'options' %} true {% endif %}">
                                    <img src="{{ MEDIA_URL }}icons/options_ico.png"> Характеристики
                                </a>
                            </li>
                        {% endif %}
                        {% if modules is not None and modules|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link {% if tab == 'parts' %} active {% endif %}"
                                   id="parts-tab"
                                   data-toggle="tab" href="#parts" role="tab"
                                   aria-controls="parts" aria-selected="false"><img
                                        src="{{ MEDIA_URL }}icons/parts_ico.png"> Парткаталог</a>
                            </li>
                        {% endif %}
                        {% if verrors is not None and verrors|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link {% if tab == 'errors' %} active {% endif %}"
                                   id="errors-tab"
                                   data-toggle="tab" href="#errors" role="tab"
                                   aria-controls="errors" aria-selected="false"><img
                                        src="{{ MEDIA_URL }}icons/errors_ico.png"> Коды ошибок</a>
                            </li>
                        {% endif %}
                        {% if supplies is not None and supplies|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link {% if tab == 'supplies' %} active {% endif %}"
                                   id="cartridges-tab"
                                   data-toggle="tab" href="#supplies" role="tab"
                                   aria-controls="supplies" aria-selected="false"><img
                                        src="{{ MEDIA_URL }}icons/supplies_ico.png"> Расходные материалы</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="modelsTabContent">
                        {% if subcaptions|length > 0 %}
                            <div class="py-3 tab-pane {% if tab == 'options' %} fade active show {% endif %}"
                                 id="options"
                                 role="tabpanel" aria-labelledby="options-tab">
                                {% include 'models/options.html' %}
                            </div>
                        {% endif %}
                        {% if modules|length > 0 %}
                            <div class="py-3 tab-pane {% if tab == 'parts' %} fade active show {% endif %}"
                                 id="parts" role="tabpanel" aria-labelledby="parts-tab">
                                {% include 'models/partcatalog.html' %}
                            </div>
                        {% endif %}
                        {% if verrors|length > 0 %}
                            <div class="py-3 tab-pane {% if tab == 'errors' %} fade active show {% endif %}"
                                 id="errors" role="tabpanel" aria-labelledby="errors-tab">
                                {% include 'models/errorcodes.html' %}
                            </div>
                        {% endif %}
                        {% if supplies|length > 0 %}
                            <div class="py-3 tab-pane fade {% if tab == 'supplies' %} fade active show {% endif %}"
                                 id="supplies" role="tabpanel"
                                 aria-labelledby="cartridges-tab">
                                {% include 'models/supplies.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block search %}
{% endblock %}