{% load static mfilters main_extras %}
{% for caption in captions %}
    {% if 'Status' not in caption %}
        <div class="option_item">
            <h4>{{ caption }}</h4>
            {% for option in options %}
                {% if option.0 == caption %}
                    <div class="option_inner">
                        <h5><span>{{ option.1 }}</span></h5>
                        <span>
                            {% if '-' in option.2 %}
                                <span class="material-icons" style="color: #D4554A;">do_disturb_alt</span>
                            {% elif '+' in option.2 %}
                                <span class="material-icons" style="color: #62DA94;">done</span>
                            {% else %}
                                {{ option.2|d_mask }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}