{% load static mfilters main_extras %}
<div class="table-responsive">
    <table class="table">
        {% for caption in captions %}
            {% if 'Status' not in caption %}
                <thead class="thead-light">
                    <tr>
                        {% for subcaption in subcaptions %}
                            {% if subcaption.2 == caption and subcaption.3|length > 0 %}
                                <th colspan="2"><h5 class="text-blue">{{ caption }}</h5></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                {% for subcaption in subcaptions %}
                    {% if subcaption.2 == caption %}
                        {% for subcap in subcaption.3 %}
                            {% if 'SubCaption' not in subcap %}
                                <tr>
                                    <td>
                                        <h5 class="capt text-blue_gray">{{ subcap|get_caption }}</h5>
                                        </td>
                                        <td>
                                        <span class="val text-blue_gray">
                                        {% if '-' in subcap|get_val %}
                                            <img src="{{ MEDIA_URL }}icons/no.svg" alt="no">
                                        {% elif '+' in subcap|get_val %}
                                            <img src="{{ MEDIA_URL }}icons/check_active.png" alt="yes">
                                        {% else %}
                                            {{ subcap|get_val|d_mask }}
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for value in values %}
                            {% if value.0 == subcaption.1 %}
                                <tr>
                                    <td class="no_line">
                                        <h5 class="capt text-blue_gray">{{ value.2 }}</h5>
                                    </td>
                                </tr>
                                {% for val in value.3 %}
                                    <tr>
                                        <td><span class="pl-5 capt">{{ val|get_caption }}</span></td>
                                        <td>
                                            <span class="val text-blue_gray">
                                            {% if '-' in val|get_val %}
                                                <img src="{{ MEDIA_URL }}icons/no.svg" alt="no">
                                            {% elif '+' in val|get_val %}
                                                <img src="{{ MEDIA_URL }}icons/check_active.png" alt="yes">
                                            {% else %}
                                                {{ val|get_val|d_mask }}
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
</div>