{% load static mfilters %}
<div class="table-responsive supplies">
    <table class="table">
        <tr>
            <td>Парткод</td>
            <td>Название</td>
        </tr>
        {% for item in supplies %}
            <tr>
                <td>
                    <a href="/cartridge/{{ item.0 }}">{{ item.1 }}</a>
                </td>
                <td>
                <span>{% if item.2 %} {{ item.2 }} {% endif %}
                    {% if item.2 and item.3 %}<br>{% endif %}
                    {% if item.3 %}{{ item.3 }}{% endif %}
                </span>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>