{% load static mathfilters %}
{% csrf_token %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="model_search">
                <label for="model_search">Search model:</label>
            </div>
            <div class="scrollbar-macosx">
                <div id="model_list"></div>
            </div>
        </div>
        <div class="col">
            <div id="model_detail_result"></div>
        </div>
    </div>
</div>

{#<div class="table-responsive">#}
{#    <table class="table table-dark table-hover align-middle caption-top">#}
{#        <caption>Models:</caption>#}
{#        <thead>#}
{#        <tr>#}
{#            <td>Model</td>#}
{#            <td>Main image</td>#}
{#            <td>Image</td>#}
{#            <td>Brand name</td>#}
{#            <td>Price</td>#}
{#            <td>action</td>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for model in models %}#}
{#            {% if limit|mul:page|sub:limit < forloop.counter and forloop.counter  < limit|mul:page %}#}
{#                <tr>#}
{#                    <td><input type="text" value="{% if model.2 is not None %}{{ model.2 }}{% endif %}"#}
{#                               id="name{{ model.1 }}"></td>#}
{#                    <td><input type="text" value="{% if model.4 is not None %}{{ model.4 }}{% endif %}"#}
{#                               id="main_image{{ model.1 }}"></td>#}
{#                    <td><input type="text" value="{% if model.5 is not None %}{{ model.5 }}{% endif %}"#}
{#                               id="image{{ model.1 }}"></td>#}
{#                    <td>#}
{#                        <select class="form-select" id="brand_name{{ model.1 }}">#}
{#                            {% for brand in brands %}#}
{#                                <option value="{{ brand.id }}" {% if model.6 == brand.name %}selected{% endif %}>#}
{#                                    {{ brand.name }}#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </td>#}
{#                    <td><input type="text" value="{% if model.7 is not None %}{{ model.7 }}{% endif %}"#}
{#                               id="price{{ model.1 }}" vendor="{% if model.8 is not None %}{{ model.8 }}{% endif %}">#}
{#                    </td>#}
{#                    <td>#}
{#                        <button class="btn btn-success save" id="{{ model.1 }}">save</button>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{#<nav aria-label="Page navigation example">#}
{#    <ul class="pagination justify-content-end">#}
{#        <li class="page-item {% if page < 2 %}disabled{% endif %}">#}
{#            <a class="page-link" href="?page=1&limit={{ limit }}" tabindex="-1" aria-disabled="true">First</a>#}
{#        </li>#}
{#        {% if page > 2 %}#}
{#            <li class="page-item"><a class="page-link"#}
{#                                     href="?page={{ page|sub:2 }}&limit={{ limit }}">{{ page|sub:2 }}</a></li>#}
{#            <li class="page-item"><a class="page-link"#}
{#                                     href="?page={{ page|sub:1 }}&limit={{ limit }}">{{ page|sub:1 }}</a></li>#}
{#        {% elif page > 1 %}#}
{#            <li class="page-item"><a class="page-link"#}
{#                                     href="?page={{ page|sub:1 }}&limit={{ limit }}">{{ page|sub:1 }}</a></li>#}
{#        {% endif %}#}
{#        <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>#}
{#        {% if page < m_length|sub:1 %}#}
{#            <li class="page-item"><a class="page-link"#}
{#                                     href="?page={{ page|add:1 }}&limit={{ limit }}">{{ page|add:1 }}</a></li>#}
{#            <li class="page-item"><a class="page-link"#}
{#                                     href="?page={{ page|add:2 }}&limit={{ limit }}">{{ page|add:2 }}</a></li>#}
{#        {% elif page < m_length %}#}
{#            <li class="page-item"><a class="page-link" href="#">{{ page|add:1 }}</a></li>#}
{#        {% endif %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ m_length|add:1 }}&limit={{ limit }}">Last</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}

{% block ajaxjs %}
    <script type="text/javascript">
        function ModelLoaded() {
            models = "{{ models }}"
            $ajax_script = "{% static 'dashboard/models.js' %}"
            $.getScript($ajax_script)
        }

        function checkMJquery() {
            if (window.jQuery) {
                ModelLoaded();
            } else {
                window.setTimeout(checkMJquery, 100);
            }
        }

        checkMJquery();
    </script>
{% endblock %}