<div class="">
    <ul class="list-group">
        <li class="list-group-item {% if tab == 'index' %}active{% endif %}"><a href="/dashboard">Dashboard</a></li>
        <li class="list-group-item {% if tab == 'brands' %}active{% endif %}"><a href="brands">Brands</a></li>
        <li class="list-group-item {% if tab == 'models' %}active{% endif %}"><a href="models">Models</a></li>
        <li class="list-group-item {% if tab == 'partcodes' %}active{% endif %}"><a href="partcodes">Partcodes</a></li>
        <li class="list-group-item {% if tab == 'details' %}active{% endif %}"><a href="details">Details</a></li>
    </ul>
</div>