{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ model }}
{% endblock %}

{% block content %}
    <div class="card card-model">
        <div class="row">
            <div class="col-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% if model_images|length > 1 %}
                            {% for i in model_images %}
                                {% if forloop.first %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                {% else %}
                                    <li data-target="#carouselExampleIndicators"
                                        data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ol>
                    <div class="carousel-inner card_image">
                        {% if model_images|length > 0 %}
                            {% for image in model_images %}
                                {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <img src="{% static 'image/' %}{{ image }}" class="d-block w-100"
                                             alt="detail_name">
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <img src="{% static 'image/' %}{{ image }}" class="d-block w-100"
                                             alt="detail_name">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                {% if model_main_image %}
                                    <img src="{% static model_main_image %}" class="d-block w-100"
                                         alt="{{ detail_name }}"/>
                                {% else %}
                                    <img src="{% static '/image/no-image.png' %}" class="d-block w-100"
                                         alt="{{ detail_name }}"/>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Модель: {{ model }}</h3>
                {% for caption in captions.0.3 %}
                    {% if 'Status' in caption %}
                        <h5>{{ caption }}</h5>
                        {% for subcaption in subcaptions %}
                            {% if subcaption.2 == caption %}
                                {% for subcap in subcaption.3 %}
                                    <div class="pl-3"><span>{% if 'SubCaption' not in subcap %}
                                        {{ subcap }}{% endif %}</span>
                                        {% for value in values %}
                                            {% if value.0 == subcaption.1 %}
                                                <div class="pl-3">{{ value.2 }}
                                                    {% for val in value.3 %}
                                                        <br><span class="pl-2">{{ val }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12">
                <div class="py-2">
                    <ul class="nav nav-tabs" id="detailTabs" role="tablist">
                    {% if captions|length > 0 %}
                        <li class="nav-item">
                            <a class="nav-link {% if cur_module is None %} active {% endif %}" id="options-tab"
                               data-toggle="tab" href="#options" role="tab"
                               aria-controls="options"
                               aria-selected="true">Характеристики</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if cur_module is not None or captions|length == 0 %} active {% endif %}" id="parts-tab"
                               data-toggle="tab" href="#parts" role="tab"
                               aria-controls="parts" aria-selected="false">Парткаталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if cur_module is not None %} active {% endif %}" id="errors-tab"
                               data-toggle="tab" href="#errors" role="tab"
                               aria-controls="errors" aria-selected="false">Коды ошибок</a>
                        </li>
                        <!--li class="nav-item">
                            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab"
                               aria-controls="description" aria-selected="false">Описание</a>
                        </li-->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    {% if captions|length > 0 %}
                        <div class="py-3 tab-pane {% if cur_module is None %} active {% endif %}" id="options"
                             role="tabpanel"
                             aria-labelledby="options-tab">
                            <div class="table-responsive">
                                <table class="table">
                                    {% for caption in captions.0.3 %}
                                        {% if 'Status' not in caption %}
                                            <thead class="thead-light">
                                            <tr>
                                                <th colspan="2"><h5>{{ caption }}</h5></th>
                                            </tr>
                                            </thead>
                                            {% for subcaption in subcaptions %}
                                                {% if subcaption.2 == caption %}
                                                    {% for subcap in subcaption.3 %}
                                                        <tr>
                                                            <td colspan="2"><span>{% if 'SubCaption' not in subcap %}
                                                                {{ subcap }}{% endif %}</span></td></tr>
                                                            {% for value in values %}
                                                                <tr>
                                                                {% if value.0 == subcaption.1 %}
                                                                    <td class="pl-3" style="width: 40%;">{{ value.2 }}</td>
                                                                    <td>
                                                                    {% for val in value.3 %}
                                                                        <span class="pl-2">{{ val }}</span><br>
                                                                    {% endfor %}
                                                                    </td>
                                                                {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                        <div class="py-3 tab-pane {% if cur_module is not None or captions|length == 0 %} active {% endif %}" id="parts"
                             role="tabpanel" aria-labelledby="parts-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        {% for module in modules %}
                                            <div class="mb-3 module-title"
                                                 {% if cur_module == module %}style="font-weight: 900"{% endif %}
                                                 onclick=" $('.module-title').removeClass('selected-module'),
                                                         $(this).addClass('selected-module')
                                                         $( '.model-opts' ).css('display', 'none'),
                                                         $( '#opts{{ forloop.counter }}' ).toggle();">
                                                <span class="module_name">{{ module }}</span></div>
                                        {% endfor %}
                                    </div>
                                    <div class="col">
                                        {% for module in modules %}
                                            <div class="model-opts pl-3"
                                                 id="opts{{ forloop.counter }}"
                                                    {% if cur_module == module %}
                                                 style="display: block;"
                                                    {% else %}
                                                 style="display: none;"
                                                    {% endif %}
                                            >
                                                {% for partc in partcatalog %}
                                                    {% if module == partc.3 %}
                                                        <p>
                                                            <a href="/detail/{{ partc.14 }}">
                                                                Парткод: {{ partc.7 }}
                                                            </a><br>
                                                            <span class="part-name">Деталь: </span>&nbsp;&nbsp; {{ partc.9 }} <br>
                                                        </p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-3 tab-pane fade" id="errors" role="tabpanel"
                             aria-labelledby="errors-tab">
                            <div class="container">
                                <div class="row">
                                    <div id="accordion">
                                        {% for error in verrors %}
                                            <div class="card error-list">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne">
                                                            {{ error.2 }}
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {% if error.3 %} <p><span class="display">Display:</span> {{ error.3 }} </p> {% endif %}
                                                        {% if error.4 %} <p><span class="description">Description:</span> {{ error.4 }} </p> {% endif %}
                                                        {% if error.5 %} <p><span class="causes">Causes:</span> {{ error.5 }} </p> {% endif %}
                                                        {% if error.6 %} <p><span class="remedy">Remedy:</span> {{ error.6 }} </p> {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-3 tab-pane fade" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <h3>Описание</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block search %}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <nav class="nav-breadcrumb w-100">
                <ul>
                    <li class="nav-breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/brands">Бренды</a></li>
                    <li class="nav-breadcrumb-item"><a href="/brand/{{ brand_id }}">{{ brand_name }}</a></li>
                    <li class="nav-breadcrumb-item active">{{ model }}</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}