h1 {
    color: #bbccdd;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.model-opts {

}
.brand_model_card {
    box-shadow: 0px 0px 3px 0px #5b80b290;
    padding: 0.2em 0.4em;
    height: 266px;
    overflow: hidden;
}
.brand_model_card:hover {
    box-shadow: 0px 0px 4px 0px #5b80b2;
}
.brand_model_link {
    display: block;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.brand_model_title {
    text-align: center;
}
.card .card_image {
    height: 200px;
    width: 200px;
}
.search_result_model {
    color: #447e9b;
}
.search_result_partcode {
    color: #003366;
    font-style: oblique;
}
.module-title {
    cursor: pointer;
}
.carousel-indicators {
    margin-bottom: -7%;
}
.carousel-indicators li {
    border-top: 5px solid #00a8ff;
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 1rem;
}
.breadcrumb-item a {
    font-size: 1em;
    line-height: 1.5em;
}
.breadcrumb-item a:hover {
    text-decoration: none;
}
.filter_settings {
    max-height: 100vh;
    overflow-y: scroll;
    padding-right: 1em;
}
.form-group {
    margin-bottom: 0rem;
}
.filter_settings .input_num {
    width: 90px;
}
.filter_settings .input_num input {
    text-align: center;
    padding: .375rem;
}
.filter_settings .btn-filter {
    position: absolute;
    top: 50vh;
    z-index: 9;
    right: -50px;
    background: #5b80b2;
    color: #e3f2fd;
}
.filter_settings .btn-filter:hover {
    box-shadow: 0 0 2px 1px #003366;
}