{% load static compress %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% block description %}
        <meta name="description"
              content="Самый полный справочник оргтехники (принтеров, МФУ, сканеров). Здесь вы сможете найти технические характеристики, парткаталоги, коды ошибок и информацию о картриджах для самых распространенных моделей">
    {% endblock %}
    {% block keyword %}
        <meta name="keyword"
              content="принтеры, МФУ, сканеры, картриджи, технические характеристики, парткаталоги, коды ошибок">
    {% endblock %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.scrollbar.css' %}">
        <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet" media="all">
    {% endcompress %}
    <title>
        {% block title %}
            Part4
        {% endblock %}
    </title>
</head>
<body id="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="wrap">
        {% block head %}
            {% block nav %}
                <div class="header">
                    <div class="container-fluid d-flex">
                        <a class="logo hover_text" href="/">
                            <span>Part4<br><small>Reference system</small></span>
                        </a>
                        <div class="left_side">
                            <div id="toggle-theme" class="hover_btn"><div class="toggle"></div><div class="ico"></div></div>
{#                            <a href="#" class="main_menu hover_btn">Sign in</a>#}
                        </div>
                    </div>
                </div>
{#                    <div class="auth-block">#}
{#                        <ul class="float-right navbar-nav">#}
{#                            {% if user.is_authenticated %}#}
{#                                <li class="nav-item"><a class="nav-link"#}
{#                                                        href="{% url 'logout' %}">Выйти {{ user.username }}</a></li>#}
{#                            {% else %}#}
{#                                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>#}
{#                                <li class="nan-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{#                        <a id="toggle-theme">Тема</a>#}
{#                    </div>#}
            {% endblock %}
            <div class="container p-2">
                <form action="/search" method="get" class="mb-3">
{#                    {% csrf_token %}#}
                    <div class="input-group" id="search_main">
                        <input class="form-control hover_btn" type="search" name="s" placeholder="Поиск" aria-label="Search"
                               aria-describedby="button-search">
                        <button class="btn hover_btn" type="submit" id="button-search"><img src="{{ MEDIA_URL }}search_ico.png" ></button>
                    </div>
{#                    <small class="form-text text-muted">#}
{#                        <span class="text-grey">Например:</span> "hp M603dn"#}
{#                    </small>#}
                </form>
            </div>
        {% endblock %}
        {% block login %}
{#            {% include 'main/menu_profile.html' %}#}
        {% endblock login %}

        <div class="container mt-2 main-content">
            {% block breadcrumbs %}
            {% endblock %}
            {% block content %}
                There is no any content for you
            {% endblock %}
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3">
    {% block footer %}
        {% block copyright %}
            <p class="text-center">&copy; Part4 | <a href="mailto:info@part4.info" target="_blank">info@part4.info</a> </p>
        {% endblock %}
    {% endblock %}
</footer>
<div id="to_up"><img src="{{ MEDIA_URL }}to_up.png" alt="to_up"></div>
{% compress js inline %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
{% endcompress %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(65013031, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/65013031" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170137027-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-170137027-1');
</script>
{% block ajaxjs %}
{% endblock %}
</body>
</html>