$dark-yellow: #f2ba4b;
$dark-orange: #e98839;
$dark-red: #eb5c59;
$dark-green: #78b857;
$dark-blue: #2e79f6;
$dark-white: #fdfdfd;
$dark-light: #e9e9eb;
$dark-grey: #898989;
$dark-darkgrey: #3f3f45;
$dark-dark: #323235;
$dark-black: #262629;

$light-yellow: #f2ba4b;
$light-orange: #e98839;
$light-red: #eb5c59;
$light-green: #78b857;
$light-blue: #2e79f6;
$light-light: #e9e9eb;
$light-grey: #898989;
$light-dark: #323235;
$light-white: #fdfdfd;