@import "colors";
.light-theme {
    #toggle-theme {
        color: $light;
        background-color: $dark;
        border: 1px solid $orange;
    }
    .btn {
        &:hover, &:focus {
            box-shadow: 0 0 5px 1px $grey;
        }
    }
    .form-control {
        &:hover, &:focus {
            box-shadow: 0 0 5px 1px $grey;
        }
    }
    footer {
        color: $dark;
    }
    .navbar {
        background-color: $light;
        color: $dark;
        .navbar-brand {
            background-image: url("/static/image/logo_part4.png");
        }
        a {
            color: $grey;
            &:active {
                color: $black;
            }
            &:hover, &:focus {
                color: $dark;
            }
        }
        .auth-block {
            a {
                color: $dark;
            }
        }
    }
    .nav-breadcrumb {
        ul {
            li {
                &:after {
                    border: 1px solid #2e79f6;
                }
                a {
                    color: $grey;
                    background-color: #ffffff;
                }
                &.active {
                    color: $dark;
                }
            }
        }
    }
    .filter {
        color: $dark;
        .title {
            color: $dark;
        }
        .filter_settings {
            background-color: $white;
            box-shadow: 0 0 5px 1px $light;
            .form-check {
                &.checkbox{
                    input {
                        &:before {
                            border: 1px solid $grey;
                        }
                        &:checked:before {
                            background-color: $orange;
                        }
                    }
                }
            }
            .btn-filter {
                &:hover {
                    box-shadow: 0 0 5px 1px $orange;
                }
            }
        }
    }
    .card {
        box-shadow: 0 0 5px 1px $light;
        &:hover {
            box-shadow: 0 0 5px 1px $grey;
        }
        &.card-model{
            .model-title {
                color: $dark;
            }
            .partcode {
                color: $darkgrey;
            }
        }
        #parts {
            .part-name {
                color: $green;
            }
            .module-name {
                &:hover{
                    color: $yellow;
                }
                &.active {
                    color: $orange;
                }
            }
        }
        .nav-tabs {
            border-color: $light;
            .nav-link {
                color: $dark;
                &:hover{
                    color: $blue;
                }
                &.active {
                    color: $light;
                    background-color: $blue;
                }
            }
        }

    }
    .error-list {
        .errorcode {
           font-weight: bold;
            color: $red;
        }
        .display {
            font-weight: bold;
            color: $orange;
        }
        .description {
            font-weight: bold;
            color: $yellow;
        }
        .causes {
            font-weight: bold;
            color: $blue;
        }
        .remedy {
            font-weight: bold;
            color: $green;
        }
    }
    .module-title {
        &:hover {
            color: $blue;
        }
    }
    .selected-module {
        color: $black;
        font-weight: bold;
    }
}